*{
	font-family: "微软雅黑";
}
#classify{
	padding-bottom: 6px;
}
#classify .w p{
	line-height: 54px;
	color: #595656;
	font-size: 14px;
	padding-bottom: 13px;
}


#designer_personal{
	width: 100%;
	height: 508px;
	background-color: #f2f2f2;
}
#designer_personal .w .personal_img{
	width: 266px;
	float: left;
}
#designer_personal .w .personal_img .personal_level{
	background-color: #999;
	padding-bottom: 33px;
}
#designer_personal .w .personal_img .personal_level h3{
	font-size: 18px;
	color: #fefefe;
	line-height: 38px;
	font-weight: 400;
	padding-top: 10px;
	padding-left: 22px;
}
#designer_personal .w .personal_img .personal_level p{
	font-size: 14px;
	color: #fefefe;
	line-height: 30px;
	padding: 0 22px;
}
#designer_personal .w .personal_intro{
	width: 834px;
	float: left;
}
#designer_personal .w .personal_intro .personal_contact{
	width: 834px;
	height: 156px;
	float: left;
	border-top: dotted 1px #787575;
	border-bottom: dotted 1px #787575;
}
#designer_personal .w .personal_intro .personal_contact .infor{
	float: left;
	padding: 26px 0 0 46px;
	line-height: 34px;
	width: 340px;
}
#designer_personal .w .personal_intro .personal_contact .infor img{
	padding-right: 10px;
}
#designer_personal > div > div.personal_intro > div.personal_contact > div.infor > p:nth-child(1) > span:nth-child(2){
	padding-left: 40px;
}
#designer_personal .w .personal_intro .personal_contact .ensure{
	float: left;
	padding: 36px 0 0 186px;
}
.ensure p{
	text-align: right;
	padding-top: 10px;
	font-size: 14px;
	line-height: 26px;
	color: #787575;

}
#designer_personal .w .personal_intro .personal_contact .contact_me{
	float: right;
}
#designer_personal .w .personal_intro .personal_contact .contact_me .ask{
	width: 117px;
	height: 32px;
	background-color: #ec6813;
	font-size: 14px;
	line-height: 32px;
	color: #fff;
	margin: 42px 0 16px 0;
}
#designer_personal .w .personal_intro .personal_contact .contact_me .ask img{
	padding: 6px 8px 6px 14px;
}
#designer_personal .w .personal_intro .personal_contact .contact_me .entrust{
	width: 117px;
	height: 32px;
	background-color: #ec6813;
	font-size: 14px;
	line-height: 32px;
	color: #fff;
}
#designer_personal .w .personal_intro .personal_contact .contact_me .entrust img{
	padding: 6px 8px 6px 14px;
}
#designer_personal > .w > div.personal_intro > div.introduction{
	float: left;
}
#designer_personal > .w > div.personal_intro > div.introduction > p{
	padding-left: 46px;
	padding-top: 20px;
	font-size: 12px;
	line-height: 21px;
	color: #666;
}
#designer_personal > .w > div.personal_intro > div.introduction > p span{
	font-size: 14px;
}



#production .w .team_img li{
	margin: 14px 10px 0 0;
	float: left;
	position: relative;
}
#production > div.w > ul > li:nth-child(5n){
	margin-right: 0;
}
#production .w .team_img li .team_description{
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 265px;
}
#production .w .team_img li .team_description dl dt{
	color: #fefefe;
	font-size: 18px;
	font-weight: 400;
	line-height: 43px;
	background: #de4527;
	text-align: center;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
#production .w .team_img li .team_description dl dd{
	background: black;
	height: 118px;
	padding: 6px 16px 0 36px;
	line-height: 24px;
	font-size: 14px;
    opacity: 0.78;
    overflow: hidden;
}
#production .w .team_page{
	line-height: 292px;
	text-align: center;
	padding-bottom: 40px;
}
#production .w .team_page span a{
	color: #000;
	font-size: 12px;
	padding: 11px;
	border-radius: 2px;
}
#production .w .team_page span .now{
	background-color: #ee5500;
	color: #fff;
}



