@using AIYunNet.CMS.BLL.Service;
@using AIYunNet.CMS.Domain.Model;
@using AIYunNet.CMS.BLL.IService;
@using AIYunNet.CMS.Common.Utility
@{
    ViewBag.Title = "PeopleCenterIndex";
    Layout = "~/Areas/PeopleCenter/Views/Shared/_LayoutCenter.cshtml";
    string userAccount = SessionHelper.Get("userName");
    string PeopleID = SessionHelper.Get("PeopleID");
    string UserID = SessionHelper.Get("UserID");
    WebCaseService webcaseser = new WebCaseService();
    WebCommonService webcoser = new WebCommonService();
    List<WebCase> webcaselist = webcaseser.GetWebCaseListByPeopleIDAndCount(Convert.ToInt32(PeopleID), 3);
}

<div class="centers_mr">
    <div class="centers_r_items">
        <div class="items-tit">
            <a class="tit-name active">账户信息</a>
        </div>
        <div class="items-con">
            <div class="zhxxbox">
                <div class="list wcd">
                    <div class="tab"><p><a href="u_ziliao.html">资料完成度</a></p></div>
                    <script type="text/javascript" src="/content/meichen/js/jquery.circliful.min.js"></script>
                    <script>
                        $(function () {
                            $('#myStat').circliful();
                        });
                    </script>
                    <div id="myStat" data-dimension="60" data-text="85%" data-info="New Clients" data-width="10" data-fontsize="12" data-percent="85" data-fgcolor="#ff6561" data-bgcolor="#eee" data-fill="#FFF" class="circliful" style="width:60px; margin-left:45px;"></div>
                </div>
                <div class="list jcxx">
                    <div class="tab">注册手机：<span>18951363850</span><a href="#" class="edit">[修改]</a></div>
                    <div class="tab">账户名称：<span>飞翔的土豆</span></div>
                    <div class="tab">会员类型：<span>普通会员</span><a href="u_renzheng.html" class="edit">[证为设计师]</a><a href="u_renzheng2.html" class="edit">[为设计师机构]</a></div>
                    <div class="tab">会员等级：<span class="vip-grade"><i class="fa fa-vimeo"></i><em>23</em></span><a href="help.hml" class="edit">[如何升级？]</a></div>
                    <div class="tab safe">账户安全：<span class="safe-tiao"><s style="width:70%;"></s></span><em>高</em><a href="u_ziliao.html" class="edit">[完善资料]</a></div>
                </div>
                <div class="list jcxx last">
                    <div class="tab"><p>我的数据中心</p></div>
                    <div class="tab">我的作品：<a href="u_works_list.html">原创街具<em>23</em></a><a href="u_works_list.html">转载作品<em>78</em></a><a href="u_works_list.html">审核中<em>13</em></a></div>
                    <div class="tab">我的需求：<a href="u_needs_list.html">进行中<em>23</em></a><a href="u_needs_list.html">已完成<em>78</em></a><a href="u_needs_list.html">审核中<em>13</em></a></div>
                    <div class="tab">我的消息：<a href="u_xiaoxi_list.html">系统消息<em>23</em></a><a href="u_xiaoxi_list.html">用户留言<em>78</em></a></div>
                    <div class="tab">关注收藏：<a href="u_user_list.html">我的关注<em>78</em></a><a href="u_works_list.html">收藏的作品<em>13</em></a><a href="u_needs_list.html">收藏的需求<em>13</em></a></div>
                </div>
                <div class="clearfiexd"></div>
            </div>
        </div>
    </div>
    <div class="centers_r_items">
        <div class="items-tit">
            <a class="tit-name active">最新作品</a>
            <a href="/PeopleCenter/CenterCases/CenterCaselist">查看更多 >></a>
        </div>
        <div class="items-con">
            <!--如果没有数据<div class="items-con none-date">--->
            <div class="ind-tuku u-c">
                <ul>
                    @foreach (WebCase ca in webcaselist)
                    {
                        <li>
                            <div class="img"><a href="/Case/CaseDetail?CaseID=@ca.CaseID"><img src="@AppSettingsHelper.ImgUrl@ca.CaseImageBig"></a></div>
                            <div class="info">
                                <div class="name">@ca.CaseTitle<span>阅读<em>13</em>次</span></div>
                                <div class="sort"><span>@webcoser.GetLookupDesc("Case_style", ca.Style.ToString())</span><i>-</i><s>@webcoser.GetLookupDesc("Case_house_type", ca.HouseType.ToString())</s><a href="/PeopleCenter/CenterCases/AddandUpdateCenterCase?CaseID=@ca.CaseID" class="u-editworks-btn"><i class="fa fa-edit"></i>编辑</a></div>
                            </div>
                        </li>
                    }
                </ul>
                <div class="clearfiexd"></div>
            </div>
        </div>
    </div>
    <div class="centers_r_items">
        <div class="items-tit">
            <a class="tit-name active">最新需求</a>
            <a href="/PeopleCenter/CenterCases/CenterCaselist">查看更多 >></a>
        </div>
        <div class="items-con">
            <!--如果没有数据<div class="items-con none-date">--->
            <div class="ind-tuku u-c">
                <ul>
                    <li>
                        <div class="img"><a href="workInfo.html"><img src="/content/meichen/upload/tuku1.jpg"></a></div>
                        <div class="info">
                            <div class="name">最多15个字程序限制<span>阅读<em>13</em>次</span></div>
                            <div class="sort"><s>结束时间</s><i>-</i><span>2015-10-11 10:55</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="img"><a href="workInfo.html"><img src="/content/meichen/upload/tuku1.jpg"></a></div>
                        <div class="info">
                            <div class="name">最多15个字程序限制<span>阅读<em>13</em>次</span></div>
                            <div class="sort"><s>结束时间</s><i>-</i><span>已结束</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="img"><a href="workInfo.html"><img src="/content/meichen/upload/tuku1.jpg"></a></div>
                        <div class="info">
                            <div class="name">最多15个字程序限制<span>阅读<em>13</em>次</span></div>
                            <div class="sort"><s>结束时间</s><i>-</i><span>审核中</span></div>
                        </div>
                    </li>
                </ul>
                <div class="clearfiexd"></div>
            </div>
        </div>
    </div>
</div>
