@using AIYunNet.CMS.Domain.Model
@using AIYunNet.CMS.BLL.IService
@using AIYunNet.CMS.BLL.Service
@using AIYunNet.CMS.Common.Utility;
@{
    ViewBag.Title = "UpdateUserPassword";
    Layout = "~/Areas/PeopleCenter/Views/Shared/_LayoutCenter.cshtml";
}
<div class="centers_mr">
    <div class="centers_r_items">
        <div class="items-tit">
            <a class="tit-name active">账户信息</a>
        </div>
        <div class="items-con">
            <div class="public_m1">
                <div class="public_m2">登录密码修改</div>
                <!--提示信息-->
                <div class="tip_notem">
                    <ul>
                        <li>1.请牢记登录密码</li>
                        <li>2.如果丢失密码，可以通过绑定的手机或邮箱找到</li>
                    </ul>
                </div>
                <div class="public_m4">
                    <p>
                        <em>原密码：</em>
                        <input type="password" class="u-ipt-txt" id="OriginPwd">
                    </p>
                    <p>
                        <em>新的密码：</em>
                        <input type="password" class="u-ipt-txt" id="newsPwd" >
                    </p>
                    <p>
                        <em>确认密码：</em>
                        <input type="password" class="u-ipt-txt" id="aginPwd">
                    </p>
                    <a href="javascript:void(0);" class="public_m3">确认修改</a>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(".public_m3").click(function () {
        var newsPwd=$("#newsPwd").val();
        var aginPwd=$("#aginPwd").val();
        var OriginPwd=$("#OriginPwd").val();
        if(newsPwd!=aginPwd)
        {
            alert("两次密码输入不一致！");
        }else
        {
            $.ajax({
                async: false,
                type: "post",
                url: "/PeopleCenter/UserCenter/UpdateUserPassword",
                data: {
                    userAccount:@SessionHelper.Get("userName"),
                    userPassword:newsPwd,
                    OriginPwd:OriginPwd
                },
                success: function (data) {
                    if (data == 1) {
                        alert("修改成功！");
                        window.location.href = "/PeopleCenter/UserCenter/UserCenterSafe";
                    }
                    else {
                        alert("旧密码输入错误！");
                    }
                },
                error: function (xhr, type) {
                    alert('Ajax error!2');
                }
            });
        }
       
    });
</script>