body,div,p{margin: 0;padding: 0;}
img{border:none;}
input,textarea{outline: none;}
#content{ width:996px; margin:0 auto; }
#content .b1,#content .b2{ background:url(img/sjb_k_bg.gif) no-repeat 0 -21px; width:996px; height:10px; display:block; clear:both; font-size:0; background:url(img/sjb_k_bg.gif) no-repeat 0 -24px;height:6px;}
#content .setup{background:url(img/sjb_k_bg_c.gif) repeat-y; width:990px; padding:0 3px; line-height:24px; font-size:14px;color:#706e70;  float:left;}
#content .b2{ background-position:0 -34px;background-position:0 -34px;}
#content .terms .float_r{ float: right;}
.centent .setup .us{ font-size:16px; color:#333; padding:10px 0 11px 33px; border-bottom:1px solid #dedede;}
.centent .setup dl{ margin:20px 50px 0 50px;}
.centent .setup dl dt{ font-weight:bold; margin-bottom:18px;  line-height:30px;}
.centent .setup dl dd{ background:url(img/about_dian.gif) no-repeat left center; padding-left:15px;}
.centent .setup .about dd{ width:854px; background:none;}
.mt20{ margin-top:40px;}
.centent .terms dl dd{background:none;margin:15px 0px;text-indent:2em;}
.centent .terms dl dt{color:rgb(0,181,231);}

/*  helpcenter  */
.f14{font-size:14px;}
.f12{font-size:12px}
.f16{font-size:16px}
.fg{height:5px;margin:0;padding:0}
.help{width:840px;margin:0 auto;margin-top:50px;}
.help_title{height:33px;border-bottom:1px solid #fe0000;}
.help_title li{float:left;width:110px;height:26px;text-align:center;color:#000;font-weight:bold;font-size:16px;padding-top:7px;background:#efefef;cursor:pointer;}
.help_title .m_on{background:#fe0000;color:#fff;}
#h_yz{display:block}
.h_yz{margin-top:50px;display: none}
.h_yz h4{color:#000; font-size:16px;margin-bottom:20px;margin-top:25px}
.question_title{height:28px;background:#efefef;margin-top:7px;color:#000;padding-top:5px;overflow:hidden;}
.question_title span{width:40px;height:33px;float:left;background:url(img/helpcenter_18.png) no-repeat 15px 8px;}
.answer{padding-left:40px;margin-top:20px;font-size:12px;color:#333;display:none}
.answer .cr{color:#52a300;}
.answer .fb{font-weight:bold;margin:10px 0px 10px 0px}
.answer p{margin:10px 0px 10px 0px;}
.fg_line{height:0px; border-bottom:1px solid #dedede;}
.ls_style{font-weight:100;width:23px;height:23px;background:url(http://img.shejiben.com/pic/helpcenter_19.jpg) no-repeat;width:23px;height:23px;float:left;padding-left:8px;font-size:14px}
.contentv_l{float:left;width:394px;}
.contentv_r{float:right;width:394px;}
.br{color:#fe0000;font-size:14px;font-weight:bold}
.tl{text-decoration:underline;}
.r{color:#fe0000;}
.b{font-weight:bold}
.bl{font-weight:100;}
.goask{background: url(http://img.shejiben.com/front_new/bg/sjb_index_bg.gif?20130621) no-repeat -1px -470px;text-align:center;font-size:14px;color:#fff;width:122px;height:29px;}
.goask a{color:#fff;}
/*  end  */


/*** æ„è§åé¦ˆ ***/
.fedback_con{ width:900px; margin:0 auto; margin-top:100px;}
.fedback_con .top{width:900px; height:87px;}
.fedback_con .top .sjb_logo{float:left;width:149px; height:87px;background:url(../img/sjb_logo.png) no-repeat;}
.fedback_con .top .fedback_txt{float: left;width: 490px;height: 87px;background:url(../img/fedback_txt.png) no-repeat;}
.fedback_con .top .fedback_txt{font-size: 24px;color: #333;}
.fedback_con .f_z{height: 485px; background:url(../img/feed_back_z.png?20160414) no-repeat #fff;padding-top: 52px;}
.fedback_con .f_z .fedback_from{width: 790px;height: 410px;margin: 0 auto;position: relative;}
.fedback_con .f_z .fedback_from .prompt_txt{position: absolute;top:6px;left: 25px;}
.fedback_con .f_z .fedback_from .prompt_txt p{float: left;font-size: 16px;color: #c7c7c7;height: 30px;line-height: 36px;}
.fedback_con .f_z .fedback_from .textarea{width: 770px;height: 302px;border:solid 1px #e3e3e3;overflow-y:hidden;font-size: 16px;line-height: 30px;margin-bottom: 5px;padding: 10px;resize:none;text-indent: 18px;}
.fedback_con .f_z .fedback_from .contact{height: 40px;line-height: 40px;position: relative;margin: 20px 0 28px;}
.fedback_con .f_z .fedback_from .contact label{float: left;font-size: 18px;color: #666;}
.fedback_con .f_z .fedback_from .contact .contact_txt{float: left;width: 200px;height: 38px;border:solid 1px #e3e3e3;margin-right: 15px;text-indent: 10px;font-size: 18px;color: #666;}
.fedback_con .f_z .fedback_from .contact em{float: left;font-size: 14px;color:#999;font-style: normal;}
.fedback_con .f_z .fedback_from .contact_btn{display: block;width: 150px;height: 40px;background: #dd4f50;border-radius: 3px;font-size: 18px;color: #fff;border:none;margin: 0 auto;cursor: pointer;}
.fedback_con .f_z .fedback_from .msg_error{ color: #dd4f50; position: absolute;font-size: 12px;top:427px;left:493px;}
.feed_back_cg{display:inline;float:left;height:115px;margin:150px 0 0px 100px; padding:0 0 80px 100px; line-height:34px; color:#666;font-size: 16px;text-align: center;}
.feed_back_cg b{ font-size:35px; color:#999;font-size: "";}
.feed_back_cg .f_cg{ width:170px; height:40px; float:left; margin-top:5px;font-size: 16px;background: #dd4f50;text-align: center;color: #fff;text-align: center;text-decoration: none;line-height: 40px;border-radius: 3px;margin-left: 92px;}
