@using AIYunNet.CMS.Common.Utility
@{
    ViewBag.Title = "DesignerList";
    Layout = "~/Areas/WebChatApp/Views/Shared/_Layout.cshtml";
}
<div class="header-clear"></div>
<div class="content">
    <div class="content">
        <div class="container no-bottom">
            <h3>设计师</h3>
            <p>
               我们提供了最优质的设计师。
            </p>
        </div>
    </div>
    <div class="decoration"></div>
    <div class="container no-bottom" id="list">
    </div>
</div>
<div class="header-clear"></div>
@section Scripts{
    <script>
        $(function () {
            GetPageList(1);
        });
        function GetPageList(page) {

            $.ajax({
                type: 'GET',
                async: true,
                url: '/WebChatApp/AppPeoples/GetDesignersList?pageIndex=' + page + '&PageSize=' + 8,
                dataType: 'json',
                success: function (data) {
                    //var datajson = eval('(' + data + ')');
                    page++;
                    var result = "";
                    var arrLen = 0;
                    if (data.list != null) {
                        arrLen = data.list.length;
                    }
                    $(".listcom").remove();
                    if (arrLen > 0) {
                        for (var i = 0; i < arrLen; i++) {
                            result += '<div class="one-half-responsive">'
                                 + '<p class="thumb-left no-bottom">'
                                 + '<a href="/WebChatApp/AppPeoples/DesignerDetail?PeopleID=' + data.list[i].PeopleID + '" style="display: inline;">'
                                 + '<img src="@AppSettingsHelper.thumbnailImage' + data.list[i].thumbnailImage + '" alt="img"></a>'
                                 + '<strong>' + data.list[i].PeopleName + '</strong>&nbsp;&nbsp;&nbsp;' + data.list[i].PeoplePosition
                                 + '<em><br>' + data.list[i].BelongArea + ' <br>擅长：' + data.list[i].GoodAtStyle + ' <br>从业年限：' + data.list[i].WorkYears + '年   </em>'
                                 + '<a href="/WebChatApp/AppPeoples/DesignerDetail?PeopleID='+data.list[i].PeopleID +'" class="button button-red center-button" style="text-align: center;vertical-align: middle; height: 30px; padding-top: 3px">详细信息</a></p>'
                                 + '<div class="thumb-clear"></div>'
                                 + '</div></a><div class="decoration hide-if-responsive"></div>'
                        }

                        result += '<a class="listcom" href="javascript:void(0);" onclick="GetPageList(' + page + ')">下一页</a>';
                        $('#list').append(result);

                    } else {
                        result += '<a class="listcom" href="javascript:void(0);">没有更多了。。。</a>';
                        $('#list').append(result);
                    }
                },
                error: function (xhr, type) {
                    alert('Ajax error!');

                }
            });
        }

    </script>
}
