
    <div class="top">
        <div class="w">
            <div class="top_l">
                <div class="city">杭州</div>
                <div class="switch">切换城市</div>
                <div class="lead"><span>｜</span><a href="/index/index">中国领先互联网装修信息分类平台</a></div>
            </div>
            <div class="top_m">
                <span><a href="">登录</a></span>
                <span><a href="">免费注册</a></span>
            </div>
            <div class="top_r">
                <div class="app"><span>｜</span><a href="">手机版</a></div>
                <div class="wechart"><span>｜</span><a href="">官方微信</a></div>
            </div>
        </div>
    </div>
