@using AIYunNet.CMS.Common.Utility;
@{
    ViewBag.Title = "Orderlist";
    Layout = "~/Areas/MobileApp/Views/Shared/_mobileLayout.cshtml";
}
<link href="~/Content/mui-master/dist/css/mui.min.css" rel="stylesheet" />
<script src="~/Content/mui-master/dist/js/mui.js"></script>

<style>
    h3 {
        font-size: 17px;
    }

    .mui-table-view {
        background-color: #efeff4;
    }
    .mui-fullscreen {
    bottom: 64px;
}
    .mui-pull-bottom-wrapper {
    text-align: center;
    }
    .line-limit-length {

max-width: 290px;

overflow: hidden;

text-overflow: ellipsis;

white-space: nowrap;

}
</style>
<link href="~/Content/WorkerApp/css/buttoncss.css" rel="stylesheet" />
<style>
    .mui-bar {
    background-color: #413129;
}
</style>
<script>
    $("title").html("我的订单");
    //var html = "<h1>AU装修宝</h1>";
    //$("#header > .back").after(html);
    $("#header").addClass("mui-bar mui-bar-nav")
    //$("#header").remove();
</script>
@*<div class="container" id="container">*@
    <div class="mui-content">
        <div id="slider" class="mui-slider mui-fullscreen">
            <div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                <div class="mui-scroll">
                    <a class="mui-control-item mui-active" href="#item1mobile">
                        新订单
                    </a>
                    <a class="mui-control-item" href="#item2mobile">
                        已接受
                    </a>
                    <a class="mui-control-item" href="#item3mobile">
                        订单进度
                    </a>
                    <a class="mui-control-item" href="#item4mobile">
                        弃单
                    </a>
                </div>
            </div>
            <div class="mui-slider-group">
                <div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
                    <div id="scroll1" class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <ul class="mui-table-view">

                            </ul>
                        </div>
                    </div>
                </div>
                <div id="item2mobile" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <ul class="mui-table-view">

                            </ul>
                        </div>
                    </div>
                </div>
                <div id="item3mobile" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <ul class="mui-table-view">

                            </ul>
                        </div>
                    </div>
                </div>
                <div id="item4mobile" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <ul class="mui-table-view"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*</div>*@

<script src="~/Content/mui-master/examples/hello-mui/js/mui.pullToRefresh.js"></script>
<script src="~/Content/mui-master/examples/hello-mui/js/mui.pullToRefresh.material.js"></script>
<script>
    function isout(guid)
    {
        //询问框
        layer.open({
            content: '放弃订单会同时删除您发布的装修信息，请与业主确认后再放弃订单！'
          , btn: ['再想想', '放弃']
          , yes: function (index) {

              location.reload();
              layer.close(index);
          },
          no: function (index) {
              $.ajax({
                  type: 'post',
                  url: '/MobileApp/mOrder/IsOut',
                  async: false,
                  dataType: "json",
                  data: {
                      guid: guid
                  },
                  success: function (data) {

                      if (data.RetCode == 1)
                      {
                          layer.close(index);
                          layer.open({
                              content: '放弃成功！'
                            , btn: '我知道了'
                              , yes: function ()
                              {
                                  location.reload();
                              }
                          });
                      }

                  }
              });
                //location.reload();
                //
            }
        });
    }


    mui.init();
    (function ($) {
        //阻尼系数
        var deceleration = mui.os.ios ? 0.003 : 0.0009;
        $('.mui-scroll-wrapper').scroll({

            bounce: false,
            indicators: true, //是否显示滚动条
            deceleration: deceleration
        });
        $.ready(function () {
            //循环初始化所有下拉刷新，上拉加载。
            var pageIndex1 = 1;
            var pageIndex2 = 1;
            var pageIndex3 = 1;
            var pageIndex4 = 1;
            $.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function (index, pullRefreshEl) {
                $(pullRefreshEl).pullToRefresh({
                    up: {
                        contentnomore: '没有更多了',
                        contentrefresh: "正在加载...",
                        auto: true,
                        callback: function () {
                            var self = this;
                            setTimeout(function () {
                                var isall = 1;
                                var IsAccept = 0;
                                var IsOut = 0;
                                var IsPlan = 0;
                                if (index == "0") {
                                    isall = 0;
                                    IsAccept = 0;
                                    IsOut = 0;
                                    IsPlan = 1;
                                } else if (index == "1") {
                                    isall = 0;
                                    IsAccept = 1;
                                    IsOut = 0;
                                    IsPlan = 0;

                                } else if (index == "2")
                                {
                                    isall = 0;
                                    IsAccept = 1;
                                    IsOut = 0;
                                    IsPlan = 1;
                                }
                                else {
                                    isall = 0;
                                    IsAccept = 2;
                                    IsOut = 1;
                                    IsPlan = 0;
                                }
                                var ul = self.element.querySelector('.mui-table-view');
                                //ul.appendChild(createFragment(ul, index, 5));
                                //ul.appendChild(createFragment1(pageIndex4, isall, IsAccept, IsPlan));
                                var bool = false;
                                if (index == "0")
                                {
                                    var html = createFragment1(pageIndex1, IsOut, IsAccept, IsPlan);
                                    ul.appendChild(createFragment1(pageIndex1, IsOut, IsAccept, IsPlan));
                                    bool = html.childNodes.length == 0 ? true : false;
                                    pageIndex1++;
                                }
                                else if (index == "1") {
                                    var html = createFragment1(pageIndex2, IsOut, IsAccept, IsPlan);
                                    ul.appendChild(createFragment1(pageIndex2, IsOut, IsAccept, IsPlan));
                                    bool = html.childNodes.length == 0 ? true : false;
                                    pageIndex2++;
                                } else if (index == "2") {
                                    var html = createFragment1(pageIndex3, IsOut, IsAccept, IsPlan);
                                    ul.appendChild(createFragment1(pageIndex3, IsOut, IsAccept, IsPlan));
                                    bool = html.childNodes.length == 0 ? true : false;
                                    pageIndex3++;
                                } else {
                                    var html = createFragment1(pageIndex4, IsOut, IsAccept, IsPlan);
                                    ul.appendChild(createFragment1(pageIndex4, IsOut, IsAccept, IsPlan));
                                    bool = html.childNodes.length == 0 ? true : false;
                                    pageIndex4++;
                                }
                                self.endPullUpToRefresh(bool);
                            }, 200);
                        }
                    }
                });
            });
            var time = function (AddOn)
            {
                var a = AddOn
                var date = new Date(parseInt(a.slice(6)));
                var result = date.getFullYear() + '年' + (date.getMonth()+1) + '月' + date.getDate()+'日';
                return result;
            }

            var createFragment1 = function (pageIndex, IsOut, IsAccept, IsPlan) {
                var fragment = document.createDocumentFragment();
                var result = "";
                $.ajax({
                    type: 'post',
                    url: '/MobileApp/mOrder/GetOrderlist',
                    async: false,
                    dataType: "json",
                    data: {
                        CurPage: pageIndex,
                        PageSize: 10,
                        IsOut: IsOut,
                        IsAccept: IsAccept,
                        IsPlan: IsPlan
                    },
                    success: function (data) {

                        $.each(data, function (i, item) {
                            var li = document.createElement('li');
                            li.className = 'my-order-item mui-table-view-cell';

                            var html= '<div class="my-order-item-tit clearfix">'
                                + '<h3 class="line-limit-length">订单号：' + item.Guid + '</h3>'
                            if (item.IsAccept == '0')
                            {
                                html += '<span class="my-order-wait-zf">新订单</span>';
                            } else if (item.IsAccept == '1' && IsOut == '0' && IsPlan=='0')
                            {
                                html += '<span class="my-order-wait-zf" style="color:#009688">已接受</span>';

                            } else if (item.IsAccept == '1' && IsOut == '0' && IsPlan == '1')
                            {
                                html += '<span class="my-order-wait-zf" style="color:#007aff">施工中</span>';
                            }
                            else if (item.IsAccept == '1' && IsOut == '1') {
                                html += '<span class="my-order-wait-zf" style="color:black;">已放弃</span>';
                            }
                            else if (item.IsAccept == '2') {
                                html += '<span class="my-order-wait-zf" style="color:red;">已拒绝</span>';
                            }
                            html += '</div>'
                            + '<div class="my-order-item-txt">'
                                + '<div class="my-order-time">' + time(item.AddOn) + '</div>'
                                + '<div class="my-order-address">' + item.CityName + ' ' + item.buidingname + '</div>'
                            + '</div>'
                            + '<div class="my-order-item-btn">'
                                + '<div class="pos-r">'
                                    + '<span class="my-order-item-red"><a href="/MobileApp/mOrder/OrderDetail?guid=' + item.Guid + '">查看订单</a></span>';
                            if (item.IsAccept == '0') {
                            } else if (item.IsAccept == '1' && IsOut == '0' && IsPlan == '0') {
                                if ("@SessionHelper.Get("PositionCode")" == "WebWorker") {
                                    html += '<span class="my-order-item-red"><a href="/MobileApp/MoblieBuiding/buidingStageByWorker?DemandID=' + item.DemandId + '&Guid=' + item.Guid + '">发布流程</a></span><span class="my-order-item-red"><a onclick="isout(\'' + item.Guid + '\')">放弃订单</a></span></div></div>';
                                } else if ("@SessionHelper.Get("PositionCode")" == "WebWorkerLeader")
                                {
                                    html += '<span class="my-order-item-red"><a href="/MobileApp/MoblieBuiding/buidingStage?DemandID=' + item.DemandId + '&Guid=' + item.Guid + '">发布流程</a></span><span class="my-order-item-red"><a onclick="isout(\'' + item.Guid + '\')">放弃订单</a></span></div></div>';
                                }

                            } else if (item.IsAccept == '1' && IsOut == '0' && IsPlan == '1') {
                                html += '<span class="my-order-item-red"><a href="/MobileApp/mOrder/mobileBuidingDetail?Guid=' + item.Guid + '">订单进度</a></span><span class="my-order-item-red"><a onclick="isout(\'' + item.Guid + '\')">放弃订单</a></span></div></div>';
                            }
                            else if (item.IsAccept == '1' && IsOut == '1') {

                            }
                            else if (item.IsAccept == '2') {

                            }

                            li.innerHTML = html;
                            fragment.appendChild(li);
                        });

                    }
                });
                return fragment;
            };
        });
    })(mui);
</script>
