@using AIYunNet.CMS.Common.Utility;
@{
    ViewBag.Title = "Tenderlist";
    Layout = "~/Areas/MobileApp/Views/Shared/_mobileLayout.cshtml";
}

<link href="~/Content/mui-master/dist/css/mui.min.css" rel="stylesheet" />
<script src="~/Content/mui-master/dist/js/mui.js"></script>
<link href="~/Content/WorkerApp/css/buttoncss.css" rel="stylesheet" />
<style>
    h3 {
        font-size: 17px;
    }

    .mui-table-view {
        background-color: #efeff4;
    }

    .mui-fullscreen {
        bottom: 64px;
    }

    .mui-pull-bottom-wrapper {
        text-align: center;
    }

    .mui-navigate-right:after, .mui-push-right:after {
        /* right: 15px; */
        content: '';
    }

    .mui-ios .mui-table-view-cell {
        background-color: #fff;
    }

    .mui-table-view-cell > .mui-badge, .mui-table-view-cell > .mui-btn, .mui-table-view-cell > .mui-switch, .mui-table-view-cell > a > .mui-badge, .mui-table-view-cell > a > .mui-btn, .mui-table-view-cell > a > .mui-switch {
        top: 70%;
        right: 59px;
    }

    .mui-table-view .mui-media, .mui-table-view .mui-media-body {
        background-color: #fff;
    }

    .mui-btn-outlined.mui-btn-blue, .mui-btn-outlined.mui-btn-primary {
        color: #413129;
    }

    .mui-btn-blue, .mui-btn-primary, input[type=submit] {
        border: 1px solid #413129;
    }

    .mui-bar {
        background-color: #413129;
    }
    .mui-col-xs-10 {
    width: 50.333333%;
}
</style>
<script>
    $("title").html("投标记录");
    //var html = "<h1>AU装修宝</h1>";
    //$("#header > .back").after(html);
    $("#header").addClass("mui-bar mui-bar-nav")
</script>
<div class="mui-content">
    <div id="slider" class="mui-slider mui-fullscreen">
        <div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <div class="mui-scroll">
                <a class="mui-control-item mui-active" href="#item1mobile">
                    待中标
                </a>
                <a class="mui-control-item" href="#item2mobile">
                    已中标
                </a>
                <a class="mui-control-item" href="#item3mobile">
                    未中标
                </a>
            </div>
        </div>
        <div class="mui-slider-group">
            <div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
                <div id="scroll1" class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <ul class="mui-table-view">
                            @*<li class="mui-table-view-cell" style="background-color: white;">
                                <div class="mui-table">
                                    <div class="mui-table-cell mui-col-xs-10">
                                        <h4 class="mui-ellipsis">信息化推进办公室张彦合同付款信息化</h4>
                                        <h5>申请日期：2018年11月01日</h5>
                                        <p class="mui-h6 mui-ellipsis">Hi，李明明，申请交行信息卡，100元等你拿，李明明，申请交行信息卡，100元等你拿，</p>
                                    </div>
                                    <div class="mui-table-cell mui-col-xs-2 mui-text-right">
                                        <span class="mui-h5">500000元</span>
                                    </div>
                                </div>
                            </li>*@

                        </ul>
                    </div>
                </div>
            </div>
            <div id="item2mobile" class="mui-slider-item mui-control-content">
                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <ul class="mui-table-view"></ul>
                    </div>
                </div>
            </div>
            <div id="item3mobile" class="mui-slider-item mui-control-content">
                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <ul class="mui-table-view"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/mui-master/examples/hello-mui/js/mui.pullToRefresh.js"></script>
<script src="~/Content/mui-master/examples/hello-mui/js/mui.pullToRefresh.material.js"></script>
<script>
        mui.init();
        //示例1
        (function ($) {
            //阻尼系数
            var deceleration = mui.os.ios ? 0.003 : 0.0009;
            $('.mui-scroll-wrapper').scroll({

                bounce: false,
                indicators: true, //是否显示滚动条
                deceleration: deceleration
            });
            $.ready(function () {
                //循环初始化所有下拉刷新，上拉加载。
                var pageIndex1 = 1;
                var pageIndex2 = 1;
                var pageIndex3 = 1;
                $.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function (index, pullRefreshEl) {
                    $(pullRefreshEl).pullToRefresh({
                        up: {
                            contentnomore: '没有更多了',
                            contentrefresh: "正在加载...",
                            auto: true,
                            callback: function () {
                                var self = this;
                                setTimeout(function () {
                                    var IsAccept = 0;
                                    if (index == "0") {
                                        IsAccept = 0;
                                    } else if (index == "1") {
                                        IsAccept = 1;
                                    } else if (index == "2") {
                                        IsAccept = 2;
                                    } 
                                    var ul = self.element.querySelector('.mui-table-view');
                                    var bool = false;
                                    if (index == "0") {
                                        var html = createFragment1(pageIndex1, IsAccept);
                                        ul.appendChild(createFragment1(pageIndex1, IsAccept));
                                        bool = html.childNodes.length == 0 ? true : false;
                                        pageIndex1++;
                                    }else if (index == "1") {
                                        var html = createFragment1(pageIndex2, IsAccept);
                                        ul.appendChild(createFragment1(pageIndex2, IsAccept));
                                        bool = html.childNodes.length == 0 ? true : false;
                                        pageIndex2++;
                                    } else if (index == "2") {
                                        var html = createFragment1(pageIndex3, IsAccept);
                                        ul.appendChild(createFragment1(pageIndex3, IsAccept));
                                        bool = html.childNodes.length == 0 ? true : false;
                                        pageIndex3++;
                                    }
                                    //自定义颜色示例
                                    mui(".mui-progressbar").each(function () {
                                        mui(this).progressbar({ progress: this.getAttribute("data-progress") }).show();
                                    });
                                    self.endPullUpToRefresh(bool);
                                }, 200);
                            }
                        }
                    });
                });

                var time = function (AddOn) {
                    var a = AddOn
                    var date = new Date(parseInt(a.slice(6)));
                    var result = date.getFullYear() + '年' + (date.getMonth()+1) + '月' + date.getDate() + '日';
                    return result;
                }
                function ChangeDateFormat(cellval) {
                    var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                    var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                    var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                    return date.getFullYear() + "-" + month + "-" + currentDate;
                }
                var createFragment1 = function (pageIndex, IsAccept) {
                    var fragment = document.createDocumentFragment();
                    var result = "";
                    $.ajax({
                        type: 'post',
                        url: '/MobileApp/mOrder/GetTenderlistByWorker',
                        async: false,
                        dataType: "json",
                        data: {
                            CurPage: pageIndex,
                            PageSize: 10,
                            IsAccept: IsAccept
                        },
                        success: function (data) {
                            $.each(data, function (i, item) {
                                var li = document.createElement('li');
                                li.className = 'my-order-item mui-table-view-cell';

                                var html = '<li class="mui-table-view-cell" style="background-color: white;">'
                                + '<div class="mui-table">'
                                    + '<div class="mui-table-cell mui-col-xs-10">'
                                        + '<h4 class="mui-ellipsis">' + item.Buidingname + '</h4>'
                                        + '<h5>申请日期：' + time(item.Addon) + '</h5>'
                                        + '<p class="mui-h6 mui-ellipsis">' + item.perInfo + '</p>'
                                    + '</div>'
                                    + '<div class="mui-table-cell mui-col-xs-2 mui-text-right">'+ '<span class="mui-h5">';
                                if(IsAccept==0)
                                {
                                    html += '<h5 style="color:#fa4b28">待中标</h5>'
                                }else if(IsAccept==1)
                                {
                                    html += '<h5 style="color:#009688">已中标</h5>'
                                }else{
                                    html += '<h5>未中标</h5>'
                                }
                                html +='<span class="mui-h5">' + item.Price + '元</span></div>'
                                + '</div>';
                                    
                                li.innerHTML = html;
                                fragment.appendChild(li);
                            });
                        }
                    });
                    return fragment;
                };
            });
        })(mui);
</script>

