#banner{
	margin-top:13px;
	background-color: #a0a182;
}

#main{
	background-color: #f3f3f3;
	padding-top:13px;
}
#main .w .works{
	width: 274px;
	height: 39px;
	margin: 0 auto 17px;
	font-size: 17px;
	color: #595656;
}
#main .w .works .line_l{
	width: 86px;
	height: 1px;
	background-color: #7a7878;
	float: left;
	margin-top: 8px;
}
#main .w .works .work{
	float: left;
	width: 102px;
	text-align: center;
	line-height: 17px;
}
#main .w .works .line_r{
	width: 86px;
	height: 1px;
	background-color: #7a7878;
	float: left;
	margin-top: 8px;
}
#main .w .works p{
	float: left;
	width: 274px;
	text-align: center;
	text-transform:capitalize;
	line-height: 31px;
}

#main > div > div.list > div:nth-child(1){
	margin-top:16px; 
}
#main .w .list:last-child{
	padding-bottom:20px; 
}
#main .w .list{
	border-top: dotted 1px #7a7878;
	border-bottom: dotted 1px #7a7878;
}
#main .w .works_list{
	line-height: 38px;
}
#main .w .works_list span .b{
	font-size: 14px;
	color: #787575;
	font-weight: bold;
}
#main .w .works_list span a{
	color: #787575;
	padding: 6px 8px;
	border-radius: 4px;
}
#main .w .works_list span .now{
	background-color: #ff742d;
	color: #fff;
}

#main .w .portrait{
	background: url(../images/left_03.png) #fff no-repeat 13px 82px;
	height: 234px;
	margin: 20px 0;
}
#main .w .portrait_inner{
	margin: 0 20px;
}
#main .w .portrait .port_img{
	float: left;
	margin: 36px 0 0 38px;
}
#main .w .portrait .port_img img{
	width: 126px;
	height: 126px;
	border-radius: 126px;
	border: 2px solid #d4d4d4;
}
#main .w .portrait .port_img p{
	width: 126px;
	text-align: center;
	line-height: 64px;
}
.swiper-container{
	height: 234px;
	width: 1100;
	margin: 20px 0;
}

.swiper-slide{
	background-color: white;

	text-align: center;
	padding-top: 36px;
}
.swiper-container .swiper-slide img.photo{
	height: 126px;
	width: 126px;
	border-radius: 126px;

}
.swiper-button-prev{
	left: 0 !important;
}
.swiper-button-next{
	right: 0 !important;
}
.swiper-container .swiper-slide p{
	line-height: 64px;
	font-size: 14px;
	font-family: '黑体';

}

.designer{
	padding-bottom: 200px;
}
.designer .designer_card{
	background-color: #fff;
	height: 250px;
	margin-bottom: 13px;
}
.designer .designer_card .designerImg{
	float: left;
}
.designer .designer_card .designerImg>img{
	margin: 15px 0 0 19px;
}
.designer .designer_card .designerImg .ask{
	width: 136px;
	height: 29px;
	margin:6px 0 0 19px;
	background-color: #ee702a;
	font-size: 14px;
	line-height: 29px;
	color: #fff;
}
.ask>img{
	margin-left: 16px;
	margin-right: 10px;
	line-height: 29px;

}
.designer .designer_card .designerInfo{
	float: left;
	margin: 18px 0 0 20px;

}
.designer .designer_card .designerInfo p{
	font-size: 14px;
	color: #000;
	line-height: 32px;
	font-family: "微软雅黑";
}
.designer .designer_card .designerInfo p img{
	margin-right: 9px;
}
.designer .designer_card .designerInfo p img.bao{
	margin-right: 6px;
    margin-left:10px;
}
.designer .designer_card .designerInfo p.red{
	font-size: 14px;
	color: #f3a381;
	line-height: 22px;
	font-family: "微软雅黑";
}
.designer .designer_card .designerWork{
	float: right;
	line-height: 250px;
}
.designer .designer_card .designerWork img{
	margin-right: 12px;	
}
#main .w .team_page{
	line-height: 292px;
	text-align: center;
	padding-bottom: 40px;
}
#main .w .team_page span a{
	color: #000;
	font-size: 12px;
	padding: 11px;
	border-radius: 2px;
}
#main .w .team_page span .now{
	background-color: #ee5500;
	color: #fff;
}



.designer .designer_card .designerImg>a>img{
	margin: 15px 0 0 19px;
}