#letter{
	margin-top: 30px;
}
#letter img{
	margin-top: 8px;
}
#letter .pro{
	margin-left: 6px;
}

#main{
	height: 558px;
	background-color: #f2f2f2;
	margin-top: -18px;
	z-index: -1;
}
.kong{
	height: 29px;
}
.card{
	height: 266px;
	background-color: #fff;
}
.card_erwei{
	padding-top: 26px;
	padding-left: 20px;
	float: left;
}


 .card_intro{
	float: left;
	padding-left: 36px;
	padding-top: 30px;
	width: 640px;
}

.card_intro .ensure{
	float: right;
}

.card_intro .name{
	line-height: 30px;
	font-family: '微软雅黑';
	margin-left: 43px;
	margin-top: 10px;
}
.card_intro .name .p1{
	float: left;
	background: url(/content/images/workerName.png) no-repeat 0 6px;
}
.card_intro .name .p1 span{
	font-size: 14px;
	line-height: 28px;
	color: #666;
	padding-left: 24px;
}
.card_intro .name .p2{
	float: left;
	font-size: 14px;
	line-height: 28px;
	color: #666;
	padding-left: 24px;
}
.card_intro .tel .p3{
	float: right;
    line-height: 30px;
}
.tel p{
	display: inline;
}
.card_intro .tel{
	height: 30px;
	margin-left: 43px;
	line-height: 30px;
	font-family: '微软雅黑';
	background: url(/content/images/mobile.png) no-repeat 0px 4px;
}
.card_intro .tel p{
	font-size: 14px;
	line-height: 24px;
	color: #666;
	padding-left: 26px;
}
.card_intro .address{
	line-height: 30px;
	font-family: '微软雅黑';
	margin-left: 43px;	
}
.card_intro .address .ad{
	width: 100%;
	float: left;
	background: url(/content/images/location.png) no-repeat 0px 4px;
}
.card_intro .address .ad span{
	font-size: 14px;
	line-height: 26px;
	color: #666;
	padding-left: 26px;
}
.card_intro .address .ad_r{
	float: right;
}
.card_intro .ask{
	width: 140px;
	height: 40px;
	background-color: #ec6813;
	float: right;
	margin-left: 25px;
}
.card_intro  .ask img{
	float: left;
	padding-top: 10px;
	padding-left: 16px;
}
.card_intro .ask span{
	float: left;
	font-size: 14px;
	line-height: 40px;
	color: #fff;
	padding-left: 7px;
}
 div.address  div.ad  .case{
 	float: right;
 }
 .link_btn{
 	margin-top: 18px;
 }


.card_port{
	float: right;
	padding-top: 28px;
	padding-right: 32px;
}








.intro{
	height: 203px;
	border-top: 1px dotted #787575;
	border-bottom: 1px dotted #787575;
	margin: 30px 0;
}
.intro dt{
	padding-left: 12px;
	font-size: 17px;
	line-height: 40px;
	color: #666;
}
.intro dd{
	padding-left: 56px;
	padding-right: 30px;
	font-size: 14px;
	line-height: 26px;
	color: #666;
}


#case .w p{
	padding-left: 8px;
	font-size: 18px;
	line-height: 50px;
}
#case .w .case_img li .case_description{
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 265px;
}
#case .w .case_img li .case_description dl dt{
	color: #fefefe;
	font-size: 18px;
	font-weight: 400;
	line-height: 43px;
	background: #de4527;
	text-align: center;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
#case .w .case_img li .case_description dl dd{
	background: black;
	height: 118px;
	padding: 6px 16px 0 36px;
	line-height: 24px;
	font-size: 14px;
    opacity: 0.78;
    overflow: hidden;
}


 #case .w .case_img li{
	margin-bottom: 11px;
    padding-right: 13px;
    float: left;
    position: relative;
}
#case > div.w > ul > li:nth-child(4n){
	padding-right: 0;
}
#case .w .case_page{
	line-height: 292px;
	text-align: center;
	padding-bottom: 40px;
}
#case .w .case_page span a{
	color: #000;
	font-size: 12px;
	padding: 11px;
	border-radius: 2px;
}
#case .w .case_page span .now{
	background-color: #ee5500;
	color: #fff;
}
