@using AIYunNet.CMS.Common.Utility;
@{
    ViewBag.Title = "DemandListToWorker";
    Layout = "~/Areas/PeopleCenter/Views/Shared/_LayoutCenter.cshtml";
}

<div class="centers_mr" id="togetherList">
    <div class="centers_r_items">
        <div class="items-tit">
            <a class="tit-name active" style="width: 99px;">我的订单</a>
        </div>
        <table id="demo" lay-filter="test"></table>
        <script type="text/html" id="Accept">
            {{#  if(d.IsAccept == 0){ }}
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="look">操作</a>
            {{#  }else if(d.IsAccept == 1){ }}
            <a class="layui-btn layui-btn-xs" lay-event="accept">已接受</a>
            {{#  }else if(d.IsAccept == 2){ }}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="">已拒绝</a>
            {{#  } }}
        </script>
        <script type="text/html" id="barDemo">
            {{#  if(d.IsAccept == 0){ }}
            {{#  }else if(d.IsPlan && d.IsAccept == 1){ }}
            <a class="layui-btn layui-btn-xs" lay-event="lookliu">查看计划</a>
            {{#  }else if(d.IsAccept == 1){}}
            <a class="layui-btn  layui-btn-normal layui-btn-xs" lay-event="publishliu">发布计划</a>
            {{# } }}
        </script>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            sessionStorage.setItem('lasturl', '@Request.Url.ToString()');
            layui.use('table', function () {
                var table = layui.table;

                //第一个实例
                table.render({
                    elem: '#demo'
                    //, height: 400
                    , method: "Post"
                    , where: { GetUserID: '@SessionHelper.Get("UserID")' }
                  , url: '/PeopleCenter/CenterWorker/DemandListToWorker' //数据接口
                  , page: true //开启分页
                    , id: '#demo'
                  , cols: [[ //表头
                    { field: 'DemandTypeName', title: '类型', width: 100 },
                    { field: 'CityName', title: '城市', width: 100 }
                    , { field: 'buidingname', title: '小区名称', width: 150 }
                    , { field: 'HouseType', title: '户型', width: 150 }
                    , { field: 'ownername', title: '业主', width: 100 }
                    , {
                        field: 'AddOn', title: '发布时间', width: 130,sort: true, templet: function (d) {
                            var a = d.AddOn
                            var date = new Date(parseInt(a.slice(6)));
                            var result = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDate();
                            return result;
                        }
                    }

                    , { field: 'IsAccept', title: '接单', width: 80, align: 'center', toolbar: '#Accept',sort: true  }
                    , { fixed: 'right', width: 100, align: 'center', toolbar: '#barDemo' } //这里的toolbar值是模板元素的选择器
                    //, { field: 'wealth', title: '财富', width: 135, sort: true }
                  ]]
                });

                table.on('tool(test)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'lookliu') {
                        var url = "/PeopleCenter/CenterWorker/AddOrEditBuidingToWorker?DemandID=" + data.id + "&Guid=" + data.Guid;
                        window.location.href = url;
                    }
                    if (obj.event === 'publishliu') {
                        var url = "/PeopleCenter/CenterWorker/AddOrEditBuidingToWorker?DemandID=" + data.id + "&Guid=" + data.Guid + "&UserID=" + data.PublishuserID;
                        window.location.href = url;
                    }
                    if (obj.event === 'look' || obj.event === 'accept') {
                        var url = "/PeopleCenter/CenterDemand/Demanddetail?id=" + data.id;
                        window.location.href = url;
                    }
                });
            });
        })
    </script>
}

