
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectWorker</title>
    <script src="~/Content/design/js/jquery-2.0.3.min.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/layui/layui.js"></script>
</head>
<body>
    <div class="demoTable">
        搜索姓名：
        <div class="layui-inline">
            <input class="layui-input" name="WorkerName" id="demoReload" autocomplete="off">
        </div>
        <button class="sou layui-btn" data-type="reload">搜索</button>
        <button class="set layui-btn" data-type="reload" style="margin-left:150px;">确认选择</button>
    </div>
    <table id="demo" lay-filter="test"></table>
</body>
</html>
<script>
    $(function () {
        layui.use('table', function () {
            var table = layui.table;

            //第一个实例
            table.render({
                elem: '#demo'
              //, height: 400
                , method: "Post"
                , where: { wokerid: 0 }
              , url: '/PeopleCenter/CenterWorker/WorkerListExceptSelf' //数据接口
              , page: true //开启分页
                , id: '#demo'
              , cols: [[ //表头
                  { type: 'checkbox' }
                , { field: 'WorkerName', title: '姓名', width: 80 }
                , { field: 'WorkerCategory', title: '类别', width: 120, sort: true }
                , { field: 'WorkerPosition', title: '工种', width: 80 }
                , { field: 'WorkerPhone', title: '联系方式', width: 177 }
                , { field: 'CityName', title: '城市', width: 100, sort: true }
                , { field: 'WorkYears', title: '工作年限', width: 135, sort: true }
                //, { field: 'classify', title: '职业', width: 80 }
                //, { field: 'wealth', title: '财富', width: 135, sort: true }
              ]]
            });

            var $ = layui.$, active = {
                reload: function () {
                    var demoReload = $('#demoReload');

                    //执行重载
                    table.reload('#demo', {
                         where: {
                             WorkerName: demoReload.val()
                      }
                    });
                }
            };
            $('.sou').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
            var workers = [];
            table.on('checkbox(test)', function (obj) {
                if (obj.checked) {
                    workers.push({ "code": obj.data.WorkerID });
                } else
                {
                    var index = workers.findIndex(function (item) {
                        return item.code == obj.data.WorkerID;
                    });
                }

                console.log(obj.checked); //当前是否选中状态
                console.log(obj.data); //选中行的相关数据
                console.log(obj.type); //如果触发的是全选，则为：all，如果触发的是单选，则为：one
            });

        });

    })

</script>
