
@{
    ViewBag.Title = "WorkerTogetherList";
    Layout = "~/Areas/PeopleCenter/Views/Shared/_LayoutCenter.cshtml";
}
<div class="centers_mr" id="togetherList">
    <div class="centers_r_items">
        <div class="items-tit">
            <a class="tit-name active" style="width: 99px;">合作项目</a>
        </div>
        <table id="demo" lay-filter="test"></table>
        <script type="text/html" id="Accept">
            {{#  if(d.IsAccept == 0){ }}
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="look">操作</a>
            {{#  }else if(d.IsAccept == 1){ }}
            <a class="layui-btn layui-btn-xs" lay-event="">已接受</a>
            {{#  }else if(d.IsAccept == 2){ }}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="">已拒绝</a>
            {{#  } }}
        </script>
        <script type="text/html" id="barDemo">
            {{#  if(d.IsAccept == 0){ }}
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="check">查看</a>
            {{#  }else if(d.IsAccept == 1){ }}
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            {{#  }else if(d.IsAccept == 2){} }}
        </script>
     </div>
</div>
@section Scripts{
    <script>
        $(function () {
            layui.use('table', function () {
                var table = layui.table;

                //第一个实例
                table.render({
                    elem: '#demo'
                    //, height: 400
                    , method: "Post"
                    , where: { GetWorkerid: 7 }
                  , url: '/PeopleCenter/CenterWorker/GetTogetherList' //数据接口
                  , page: true //开启分页
                    , id: '#demo'
                  , cols: [[ //表头
                    { field: 'buidingName', title: '小区名称', width: 130}
                    , { field: 'stagename', title: '阶段任务', width: 100}
                    , { field: 'cityName', title: '城市', width: 100 }
                    , { field: 'PublishWorkerName', title: '工长姓名', width: 100 }
                    , { field: 'PublishWorkerTel', title: '工长电话', width: 130}
                    , { field: 'ownername', title: '业主', width: 80}
                    , { field: 'startTime', title: '开工时间', width: 100, sort: true }
                    , { field: 'IsAccept', title: '接单', width: 80, align: 'center', toolbar: '#Accept',sort: true  }
                    , { fixed: 'right', width: 80, align: 'center', toolbar: '#barDemo' } //这里的toolbar值是模板元素的选择器
                    //, { field: 'wealth', title: '财富', width: 135, sort: true }
                  ]]
                });

                table.on('tool(test)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'edit') {
                        layer.open({
                            type: 2,
                            scrollbar: false,
                            title: '上传信息',
                            shadeClose: true,
                            shade: 0.8,
                            area: ['700px', '650px'],
                            content: ['/PeopleCenter/CenterCases/UpdateBuidingStage?buidingID=' + data.buidingID + '&StageID=' + data.stageid + '&rnd=' + Math.random()],
                            end: function () {
                            }
                        });
                    }
                    if (obj.event === 'look') {
                        layer.msg('是否确认接受。', {
                            time: 20000, //20s后自动关闭
                            btn: ['接受', '拒绝',"关闭"],
                            yes: function (index, layero) {
                                IsAccept(data.id, 1);
                                layer.close(index);
                            },
                            btn2: function (index, layero) {
                                IsAccept(data.id, 2);
                                layer.close(index);
                            }
                            ,btn3: function (index, layero) {
                        }
                        });
                    }
                });

                function IsAccept(id, accept) {
                    $.ajax({
                        type: "post",
                        url: "/PeopleCenter/CenterWorker/IsAcceptTogether",
                        data: {
                            id: id,
                            accept: accept
                        },
                        success: function (data) {
                            if (data.RetCode == 1) {
                                table.reload('#demo', {
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                            }
                        }
                    });
                }
            });           
        })
    </script>
}
