
@{
    ViewBag.Title = "GJIndex";
    Layout = "~/Areas/MobileApp/Views/Shared/_mobileLayout.cshtml";
}

<script>
    $("title").html("装修管家");
    //var html = "<h1>AU装修宝</h1>";
    //$("#header > .back").after(html);
</script>

<div class="container" id="container">
    <img src="~/Content/WorkerApp/updateimages/GjIndex.jpg" />
    </div>
