@model AIYunNet.CMS.Domain.Model.WebBuidingCaseComment
@{
    Layout = null;
    string star = "star-0" + Model.Score;
    string pingjia = "";
    if (Model.Score >= 3)
    {
        pingjia = "好评";
    }
    else if (Model.Score == 2)
    {
        pingjia = "中评";
    }
    else { pingjia = "差评"; }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/design/sheji.workleaderdetail.css" rel="stylesheet" />
    <title>LookBuidingComment</title>
</head>
<body>
    <div> 

    <div class="name-w" style="margin-left: 20px;margin-top: 10px;font-size: 14px;">评分：@*<i class="@star"></i>*@@pingjia</div>
    <p style="margin-left: 20px;margin-top: 10px;font-size: 14px;width: 360px;">评论：@Model.Comment</p>


    </div>
</body>
</html>
