@using AIYunNet.CMS.Domain.Model
@using AIYunNet.CMS.Common.Utility;
@model WebUser
@{
    ViewBag.Title = "mPCenter";
    Layout = "~/Areas/MobileApp/Views/Shared/_mobileLayout.cshtml";
}
<script>
    $(function () {
        var title = "";
        if ("@SessionHelper.Get("PositionCode")"=="WebUser")
        {
            title = "业主中心";
        }else if("@SessionHelper.Get("PositionCode")"=="WebWorkerLeader")
        {
            title = "工长中心";
        }else
        {
            title = "工人中心";
        }
        $("title").html(title);
        //var html = "<h1>AU装修宝</h1>";
        //$("#header > .back").after(html);
    })
</script>
<div class="container" id="container">
    <div class="my-face">
        <div class="my-face-con">
            <div class="my-face-pic"><img src="@AppSettingsHelper.ImgUrl@Model.thumbnailImage"></div>
            <p>@Model.NickName</p>
        </div>
    </div>

    <div class="personal-list">
        <ul>
            @if (SessionHelper.Get("PositionCode") == "WebUser")
            {
                <li><a class="my-icon-grzl" href="/MobileApp/MobileCenter/UserData">个人资料</a></li>
            }
            else
            {
                if (SessionHelper.Get("PositionCode") == "WebWorkerLeader")
                {
                    <li><a class="my-icon-grzl" href="/MobileApp/MobileCenter/PersonData">工长资料</a></li>
                }
                else if (SessionHelper.Get("PositionCode") == "WebWorker")
                {
                    <li><a class="my-icon-grzl" href="/MobileApp/MobileCenter/PersonData">工人资料</a></li>
                }

            }

        </ul>
        <ul>
            @*<li><a class="my-icon-zxjd" href="/MobileApp/MobileUser/BuidinglistUser">工程进度</a></li>*@
            @*<li><a class="my-icon-zbjl" href="/MobileApp/MobileUser/DemandList">招标记录</a></li>
            <li><a class="my-icon-fbzb" href="/MobileApp/MobileUser/DemandDetail">发布招标</a></li>*@            
            @if (SessionHelper.Get("PositionCode") == "WebUser")
            {
                <li><a class="my-icon-fbzb" href="/MobileApp/MobileUser/DemandDetail">发布招标</a></li>              
                <li><a class="my-icon-zxjd" href="/MobileApp/MobileUser/BuidinglistUser">工程进度</a></li>
                <li><a class="my-icon-zbjl" href="/MobileApp/MobileUser/DemandList">招标记录</a></li>
            }
            else
            {
                <li><a class="my-icon-wddd" href="/MobileApp/mOrder/Orderlist">我的订单</a></li>
                <li><a class="my-icon-zxjd" href="/MobileApp/mOrder/mobileBuidingList">订单进度</a></li>
                <li><a class="my-icon-zbjl" href="/MobileApp/MobileUser/DemandList">招标记录</a></li>
                <li><a class="my-icon-tbjl" href="/MobileApp/mOrder/Tenderlist">投标记录</a></li>
                <li><a class="my-icon-fbzb" href="/MobileApp/MobileUser/DemandDetail">发布招标</a></li>
                //<li><a class="my-icon-wdjf" href="/MobileApp/mOrder/mTogetherBuidingList">我的合作项目</a></li>
            }

        </ul>
        <ul>

            <li><a class="my-icon-gsjj" href="#">公司简介</a></li>
        
            <li><a class="my-icon-bzzx" href="#">帮助中心</a></li>
            <li><a class="my-icon-kfzx" href="#">客服咨询<span class="my-tel">400-000-0000</span></a></li>
        </ul>
    </div>
    <a href="/MobileApp/mLogin/LoginCenter" class="order">退出</a>


</div>

