#header .top{
	width: 100%;
	height: 29px;
	background-color: #f6f6f6;
	border-top: solid 2px #fff;
	border-bottom: solid 1px #e5e5e5;
	line-height: 29px;
	font-size: 12px;
	color: #999;
}
.top .top_l{
	float: left;
}
.top .top_l .city{
	padding: 0 45px 0 20px;
	float: left;
	background: url(/content/images/icon_01.jpg) no-repeat left center;
}
.top .top_l .switch{
	float: left;
	padding: 0 14px 0 0;
	background: url(/content/images/icon_02.jpg) no-repeat right center;
}
.top .top_l .lead{
	float: left;
	padding: 0 0 0 14px;
}
.top .top_l .lead span{
	padding-left: 14px;
}
.top .top_m{
	float: left;
	padding-left: 395px;
}
.top .top_m span{
	padding-right: 20px;
}
.top .top_r{
	float: right;
}
.top .top_r .app{
	float: left;
	padding-right: 24px;
	background: url(/content/images/icon_03.jpg) no-repeat 25px center;
}
.top .top_r .app span{
	padding-right: 40px;
}
.top .top_r .wechart{
	float: left;
	padding: 0 4px 0 0;
	background: url(/content/images/icon_13.jpg) no-repeat 25px center;
}
.top .top_r .wechart span{
	padding-right: 40px;
}
.bar .w .tel{
	float: right;
	font-size: 13px;
	line-height: 34px;
	color: #595656;
	background: #fff;

}
#header .bar .bar_innner .logo{
	float: left;
	margin-top: 5px;
}
#header .bar .bar_innner .logo img{
	float: left;
}
#header .bar .bar_innner .logo span{
	float: left;
	padding-top: 39px;
	font-family: "heiti";
	font-size: 25px;
	line-height: 18px;
	font-weight: 400;
	padding-left: 6px;
	color: #ec6813;
}
#header .bar .bar_innner .logo p{
	float: left;
	font-size: 9px;
	color: #595656;
	line-height: 27px;
	letter-spacing: 14px;
	padding-bottom: 22px;
}
#header .bar .bar_innner .bar_list{
	float: right;
	margin-top: 21px;
}
#header .bar .bar_innner .bar_list li{
	float: left;
	width: 99px;
	height: 54px;
	border-right:1px solid #dedcdd; 
	background: url(/content/images/home_01.jpg) no-repeat 37px 2px;
	position: relative;
	font-size: 13px;
	line-height: 18px;
}
#header .bar .bar_innner .bar_list li:nth-child(2){
	background: url(/content/images/home_02.jpg) no-repeat 37px 2px;
}
#header .bar .bar_innner .bar_list li:nth-child(3){
	background: url(/content/images/home_03.jpg) no-repeat 37px 2px;
}
#header .bar .bar_innner .bar_list li:nth-child(4){
	background: url(/content/images/home_04.jpg) no-repeat 37px 2px;
}
#header .bar .bar_innner .bar_list li:nth-child(5){
	background: url(/content/images/home_05.jpg) no-repeat 37px 2px;
}
#header .bar .bar_innner .bar_list li:nth-child(6){
	background: url(/content/images/home_06.jpg) no-repeat 37px 2px;
}
#header .bar .bar_innner .bar_list li:nth-child(7){
	background: url(/content/images/home_07.jpg) no-repeat 37px 2px;
}
#header .bar .bar_innner .bar_list li:nth-child(8){
	background: url(/content/images/home_08.jpg) no-repeat 37px 2px;
}
#header .bar .bar_innner .bar_list li:nth-child(5) a{
	color: #ddd;
}
#header .bar .bar_innner .bar_list li:nth-child(6) a{
	color: #ddd;
}
#header .bar .bar_innner .bar_list li:nth-child(7) a{
	color: #ddd;
}
#header .bar .bar_innner .bar_list li:nth-child(8) a{
	color: #ddd;
}
#header .bar .bar_innner .bar_list li:last-child{
	border-right:none; 
}
#header .bar .bar_innner .bar_list li a{
	position: absolute;
	width: 99px;
	text-align: center;
	padding-top: 34px;
	color: #595656;
}

/* 顶部结束 */

.line{
	width: 100%;
	height: 7px;
	background-color: #595656;
}




/* footer开始 */

#footer .link{
	width: 100%;
	height: 109px;
	border-top:solid 7px #595656;
	background-color: #e5e5e5;
	font-size:17px;
	color: #595656;
	line-height: 36px;
}
#footer .good{
	height: 104px;
	border-top: solid 1px #ededed;
	border-bottom: solid 1px #ededed;
}
#footer .good_inner{
	margin: 21px 53px 0 29px;
	float: left;
}
#footer .good_inner .good_icon{
	float: left;
	margin-right:12px;
}
#footer .good_inner .good_p{
	float: left;
	padding-left: 13px;
}
#footer .good_inner .good_p h3{
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	color: #9f9f9f;
	padding-top: 11px;
}
#footer .good_inner .good_p p{
	font-size: 12px;
	line-height: 18px;
	color: #9f9f9f;
}
#footer .about{
	height: 203px;
}
#footer .about .about_inner{
	width: 1140px;
	margin: 0 auto;
}
#footer .about .about_inner .about_us{
	width: 195px;
	margin-top: 18px;
	float: left;
}
#footer .about .about_inner .about_us dt{
	font-size: 14px;
	line-height: 70px;
	color: #464646;
}
#footer .about .about_inner .about_us dd{
	border-left: solid 1px #ededed; 
	font-size: 14px;
	color: #9f9f9f;
	padding-left: 10px;
}
#footer .about .about_inner .erweima{
	width: 264px;
	height: 140px;
	border-left: solid 1px #ededed;
	border-right: solid 1px #ededed;
	float: left;
	margin: 31px 0; 
	text-align: center;
}
#footer .about .about_inner .tel{
	float: left;
	margin-top: 32px;
	margin-left: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #00beb7;
}
#footer .about .about_inner .tel span{
	font-size: 24px;
}
#footer .about .about_inner .tel .ask{
	width: 160px;
	height: 35px;
	margin-top: 18px;
	margin-left: 44px;
	border: solid 1px #00beb7;
	text-align: center;
	line-height: 35px;
}
#footer .copyright{
	height: 138px;
	background-color: #505050;
	padding-top: 26px;
}
#footer .copyright p{
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	color: #f2f2f2;
}
#header > div.bar > div > div.nav > ul > li{
	text-align: center;
}
.nav_active{
	/*background-color: #535362;*/
	
}
#header > div.bar > div > div.nav > ul > li a:hover{

	font-weight: bold;
}
.news_active_left{
	background-color: #DF4626;
}
.news_active_right{
	background-color: #DF4626;
}


