body,html,ul,li{padding:0;margin: 0;font-family:"宋体";font-size: 12px;color: #333;}
input,textarea{outline: none;border: none;}
body,html{position: relative;}
.designer_header .font_bg .company_addr span,.designer_nav .consult_box .consult_con .c_phone .phone_icon,
.designer_nav .consult_box .consult_con .assure,.designer_blog .desc_blog_main .browse_num .con_num,
.owner_comment .tab_content .comment_main .comment_main_content .eva_type,.designer_nav .designer_nav_ul li a.nav_more,.upload_btn_close,
.upload_img .upload_img_main .img_main_bg .main_bg .main_bg_name .btn_bg_close,.designer_header .font_bg .add_care .care_icon,
.designer_nav .designer_nav_ul li.more_li a.nav_more_opus{background: url(http://img.shejiben.com/sjs/designer_icon.png?20151109) no-repeat;}

/*我的位置*/
#content{margin: 0;padding: 0;}
.my_position{width: 722px;color: #767676;}
/*****主页******/
/*头部*/
.designer_header{width: 100%;min-width: 1180px; height: 420px;background: url(http://www.shejiben.com/html2/designer/img/designer_img.jpg) repeat scroll center center #fff;}
.designer_header .font_bg{background: url(http://img.shejiben.com/sjs/designer_bg.png) no-repeat scroll center center;width: 1180px;height: 300px;padding: 60px 0;position: relative;margin: 0 auto;}
.designer_header .font_bg *{margin: 0 auto;color: #fff;text-align: center;}
.designer_header .font_bg  .head_portrait{width: 150px;height: 150px;position: relative;}
.designer_header .font_bg  .head_portrait .head_portrait_img{width: 144px;height: 144px;border: solid 3px #fff;border-radius: 72px;overflow: hidden;display: block;}
.designer_header .font_bg  .head_portrait .head_portrait_img img{width: 144px;height: 144px;}
.designer_header .font_bg  .head_portrait em{width: 45px;height: 20px;display: block;position: absolute;}
.designer_header .font_bg  .head_portrait em.auth_icon{margin:-133px 117px;*margin-left: 50px;}
.designer_header .font_bg  .head_portrait em.famous_icon{margin:-107px 133px;*margin-left: 60px;}
.designer_header .font_bg .desinger_name{font-size: 24px;margin: 20px 0 7px;font-family: "微软雅黑";}
.designer_header .font_bg .company_name{font-size: 16px;}
.designer_header .font_bg .company_addr{margin: 10px auto 19px;height:16px;}
.designer_header .font_bg .company_addr span{background-position: -16px -215px;line-height: 16px;padding-left: 16px;}
.designer_header .font_bg .add_care{display: block;background: #fff;width: 62px;height: 25px;border-radius: 3px;line-height: 25px;position: relative;}
.designer_header .font_bg .cancel_care{width: 88px;}
.designer_header .font_bg .already_care{width: 80px;}
.designer_header .font_bg .add_care *{color: #333;display: block;float: left;}
.designer_header .font_bg .add_care .care_icon{width: 11px;height: 11px;background-position: -335px -158px;display: block;position: absolute;top:8px;left:8px;}
.designer_header .font_bg .cancel_care .care_icon{background-position: -227px -158px;}
.designer_header .font_bg .already_care .care_icon{background-position: -278px -158px;width: 17px;}
.designer_header .font_bg .add_care .care_font{font-size: 14px;color: #333;margin-left: 25px;line-height: 25px;}
/*.blog_top .designer_box{position: absolute;top:0;left: 0;width: 100%;height: 420px;z-index: 100;background: #000;}*/
.designer_header .font_bg .change_bg{width: 44px;height: 42px;background-position: -14px -32px;position: absolute;top:0;right: 0;}
.designer_header .font_bg .change_bg img{width: 44px;height: 42px; float: right;}
.designer_navs{height: 40px;width: 100%;background: #333;position: absolute;top:450px;left: 0;z-index: 99;}
.designer_navs .designer_nav{width: 1180px;margin:0 auto;position: relative;}
.designer_nav .designer_nav_ul li{width: 100px;line-height: 40px;text-align: center;float: left;}
.designer_nav .designer_nav_ul li a{color: #fff;font-size: 14px;}
.designer_nav .designer_nav_ul li.more_li{position: relative;}
.designer_nav .designer_nav_ul li.more_li a.nav_more{background-position: -255px -101px;padding-right: 15px;}
.designer_nav .designer_nav_ul li.more_li .more_con{width: 100px;position: absolute;left: 0;top:40px;display: none;}
.designer_nav .designer_nav_ul li.more_li:hover .more_con{display: block;}
.designer_nav .designer_nav_ul li.more_li .more_con .more_con_a{display: block;width: 100px;height: 40px;background:#333;}
.designer_nav .designer_nav_ul li.more_li .more_con .more_con_a:hover{background:#9ec918;cursor: pointer;}
.designer_nav .designer_nav_ul li.cur{background: #9ec918;height: 40px;}
.designer_nav .designer_nav_ul li:hover{background: #9ec918;cursor: pointer;height: 40px;}
.designer_nav .consult_box{width: 240px;position: absolute;top: 0;right: 0;color: #fff;}
.designer_nav .consult_box .consult_tlt{height: 40px;background: #1e1e1e;line-height: 40px;padding: 0 20px;}
.designer_nav .consult_box .consult_tlt .expense{font-size: 14px;font-family: "宋体";}
.consult_box .consult_tlt .money_icon,.consult_box .consult_tlt .price{font-size: 24px;font-family: "微软雅黑";height: 40px;line-height: 40px;}
.designer_nav .consult_box .consult_tlt .money_icon{margin-left: -2px;float: left;}
.designer_nav .consult_box .consult_tlt .price{max-width: 178px;overflow: hidden;word-break:break-all;float:left;*max-width: 134px;}
.designer_nav .consult_box .consult_tlt .square{font-size: 18px;font-family: "Arial";float: right;height: 45px;line-height: 45px;}
.designer_nav .consult_box .consult_con {padding: 20px 19px;border: solid 1px #e3e3e3;border-top: none; background: #fff;}
.designer_nav .consult_box .consult_con .consult,.designer_nav .consult_box .consult_con .c_phone{width: 200px;height: 40px;line-height: 40px;font-size: 16px;display: block;color: #fff;}
.designer_nav .consult_box .consult_con .consult{background: #9ec918;text-align: center;font-family: "宋体";}
.designer_nav .consult_box .consult_con .consult:hover{background:#f77071;}
.designer_nav .consult_box .consult_con .phone_box .c_phone{background: #46be8c;width: 100%;margin:10px 0 20px; text-align: center;}
.designer_nav .consult_box .consult_con .phone_box .c_phone .phone_icon{background-position: -309px -47px;width: 16px;height: 20px;display: inline-block;margin: 0 0 -4px 0;}
.designer_nav .consult_box .consult_con .phone_box .notice{position: absolute;top:77px;left:43px;display: none;}
.designer_nav .consult_box .consult_con .phone_box .notice p{border:1px solid #f3cecb;width:auto;background: #fffdee;color:#666;font-size: 12px;line-height:12px;margin:0;padding:11px 5px 11px 9px;}
.designer_nav .consult_box .consult_con .phone_box .notice span{background:url(http://img.shejiben.com/my/phone_pic.png?20150113) no-repeat -81px -13px;width: 10px;height: 6px;margin:-1px 0 0 20px;display: block;}
.designer_nav .consult_box .consult_con .phone_box:hover .notice{display: block;}
.designer_nav .consult_box .consult_con .assure{color: #999;float:left;padding-left: 14px;background-position: -24px -102px;margin-right: 7px;}
.designer_nav .consult_box .consult_con .assure_last{margin-right: 0;}

/* 人物专访 */
.zt_talk{ background: #fff; padding: 20px; margin-top: 20px;}
.zt_talk .title{line-height: 16px; font-size: 14px; color: #333;font-weight: bold;}
.zt_talk .info{ width: 100%; padding-top: 20px; position: relative;}
.zt_talk .info img{ width: 100%;}
.zt_talk .info .pic_fixed {width:96px;height:31px;display: block;position:absolute;top:223px;background: url(http://img.shejiben.com/shejiben_img/main_nav/main_nav_icon.png?20161017) no-repeat -151px -0px;}
.zt_talk .info .pic_fixed .word {font-size: 14px; color: #fff;line-height: 33px;margin-left:15px;}
.zt_talk .info .introduce{padding-top:35px;font-size: 14px; color: #999;line-height: 16px;}
.zt_talk .info .introduce b { color: #333;}
/*主体*/
.deigner_body{width: 100%;background: #f6f6f6;padding-bottom: 30px;margin-top: 40px;*padding-top:40px;}
.deigner_mains{width: 1180px;margin: 0 auto;min-height: 420px;}
.deigner_main{width: 920px;}
.designer_opus,.designer_blog,.owner_comment,.deal_record,.about_he{background: #fff;padding:0 30px 22px;width: 860px;margin-bottom: 20px;}
.designer_main_min{min-height: 660px;}
.designer_blog{padding-bottom: 22px;}
.deigner_main .desc_blog_head{height: 65px;line-height: 70px;border-bottom: solid 1px #eee;}
.deigner_main .manage_blog{float: right;margin-top: 20px;}
.deigner_main .opus_nav .cls_fication,.deigner_main .manage_opus,.about_he .about_he_head .about_he_edit{display: block;border-radius: 3px;width: 70px;height: 28px;text-align: center;line-height: 28px;}
.deigner_main .manage_opus,.about_he .about_he_head .about_he_edit{float: right;margin-left: 10px;font-size: 14px;color: #9ec918;border: solid 1px #9ec918;}
.deigner_main .manage_opus:hover,.about_he .about_he_head .about_he_edit:hover{background:#f77071;border-color: #f77071;color: #fff;}
.deigner_main .more_opus{width: 860px;height: 40px;border:solid 1px #9ec918;font-size: 14px;color: #9ec918;text-align: center;line-height: 40px;display: block;cursor: pointer;margin: 5px 0;}
.deigner_main .more_opus:hover{background:#f77071;color: #fff;border-radius: 5px;border:solid 1px #f77071;}
.deigner_main .desc_tlt{font-size: 22px;font-family: "微软雅黑";float: left;}
.deigner_main .desc_tlt em{font-size: 22px;font-family: "微软雅黑";}
.deigner_main .desc_tltle{height: 76px;line-height: 76px;}


/*设计作品*/
.designer_opus .opus_nav{padding-top: 27px;}
.designer_no_opus{padding: 50px 0;background:#fff;margin-bottom: 20px;}
.designer_no_opus .no_data .tips{padding: 0;}
.designer_opus .opus_nav .cls_fication{color:#666;background: #f7f7f7;margin-right: 20px;float: left;}
.designer_opus .opus_nav a.cls_on{background: #ccc;color: #fff;}
.designer_opus .opus_main{margin-top: 18px;clear: both;*margin-top: -8px;}
.designer_opus .opus_main li{border-top: solid 1px #eee;padding-bottom: 2px;}
.designer_opus .opus_main .opus_head{height: 5px;line-height: 40px;margin-top: 6px;}
.designer_opus .opus_main .opus_head .opus_tlt{font-size: 18px;font-family: "微软雅黑";display: block;float: left;width: 610px;height: 40px;overflow: hidden;line-height: 40px;word-break:break-all;}
.designer_opus .opus_main .opus_head .opus_tlts{width: 860px;}
.designer_opus .opus_main .opus_head .opus_tlt:hover{color: #9ec918;}
.designer_opus .opus_main .opus_head .opus_tlt em{color: #9ec918;font-size: 18px;font-family: "微软雅黑";}
.designer_opus .opus_main .opus_head .opus_label{float: right;}
.designer_opus .opus_main .opus_head .opus_label .opus_p{color: #999;}
.designer_opus .opus_main .opus_head .opus_label .opus_p em{margin-right:5px;}
.designer_opus .opus_main .opus_head .opus_label .opus_line{font-weight: normal;color: #999;margin-left: 5px;}
.designer_opus .opus_main .opus_content{color: #666;line-height: 20px;margin-bottom: 15px;word-wrap:break-word;}
.designer_opus .opus_main .opus_content em{font-size: 14px;}
.designer_opus .opus_main .opus_img{display: block;cursor: pointer;width: 860px;text-align: justify;}
.designer_opus .opus_main .opus_img .opus_span{width: 920px;height: 272px;display: block;margin-bottom: 17px;}
.designer_opus .opus_main .opus_img img{height: 272px;width: 272px;display: block;margin-right: 22px;float: left;}
.designer_opus .more_opus{margin-top:0;}
.designer_opus .opus_main .opus_head .pict_respons_tag {background: url(http://img.shejiben.com/global.png?20150605) no-repeat -73px -210px;display:inline-block;margin:0 0 -6px 8px;width: 65px;height: 23px;}
/*设计博文*/
.designer_blog .desc_blog_main li{padding: 15px 0 10px;border-bottom:dashed 1px #eee;}
.designer_blog .desc_blog_main li.blog_main_li{border: none;}
.designer_blog .desc_blog_main .blog_main_tlt{font-size: 18px;font-family: "微软雅黑";margin-bottom: 10px;display: block;color: #333;width: 860px;height: 25px;line-height: 25px;overflow: hidden;word-wrap:break-word;}
.designer_blog .desc_blog_main .blog_main_tlt:hover{color: #9ec918;cursor: pointer;}
.designer_blog .desc_blog_main .blog_main_con{color: #666;line-height: 22px;width: 860px;margin-bottom: 15px;word-wrap:break-word;}
.designer_blog .desc_blog_main .blog_main_con em{font-size: 14px;}
.designer_blog .desc_blog_main .def_class{float: left;}
.designer_blog .desc_blog_main .browse_num{float: right;}
.designer_blog .desc_blog_main .def_class .d_line{margin-left: 4px;}
.designer_blog .desc_blog_main .def_class .d_time{margin-left: 10px;}
.designer_blog .desc_blog_main .def_class span,.designer_blog .desc_blog_main .browse_num span{color: #999;}
.designer_blog .desc_blog_main .browse_num .read_num{background: transparent url("http://img.shejiben.com/sjs/img_bg.png?20150921") no-repeat scroll -78px -166px;padding-left: 23px;height: 15px;line-height: 14px;display: block;float: left;}
.designer_blog .desc_blog_main .browse_num .con_num{padding-left: 23px;height: 15px;line-height: 14px;background-position: -111px -102px;display: block;float: left;margin-left: 10px;}

/*业主评价*/
.owner_comment .comment_nav{width: 860px;height:92px;background:#f8f8f8;clear: both;}
.owner_comment .comment_nav .com_class{width: 55px;padding: 0 90px 0 70px;display: block;float: left;text-align: center;margin-top: 22px;}
.owner_comment .comment_nav .no_cursor{cursor: text;}
.owner_comment .comment_nav .com_class span{display: block;}
.owner_comment .comment_nav .com_class .com_val_rate{font-family: "Arial";color: #9ec918;font-size: 36px;margin-top: -5px;}
.owner_comment .comment_nav .com_class .com_val_rate .com_sign{font-size: 12px;}
.owner_comment .comment_nav .com_class .com_class_val{font-size: 30px;color: #666;font-family: "Arial";}
.owner_comment .comment_nav .com_on .com_class_val{color: #9ec918;}
.owner_comment .comment_nav .com_class .com_class_val:hover{color: #9ec918;}
.owner_comment .comment_nav .no_cursor .com_class_val:hover{color: #666;}
.owner_comment .comment_nav .com_class .com_class_val:hover .com_sign{color: #9ec918;}
.owner_comment .comment_nav .com_class .com_class_txt{font-size: 14px;color: #999;font-family: "宋体";}
.owner_comment .comment_nav .com_class .val_rate_txt{margin-top: -2px;}
.owner_comment .comment_main li{margin-top: 31px;}
.owner_comment .comment_main .comment_main_pic{float: left;text-align: center;}
.owner_comment .comment_main .comment_main_pic .com_main_img{display: block;width: 50px;height: 50px;border-radius: 25px;overflow: hidden;}
.owner_comment .comment_main .comment_main_pic .com_main_img img{width: 50px;height: 50px;}
.owner_comment .comment_main .comment_main_pic .com_main_name{color: #999;display: block;margin-top: 10px;max-width: 52px;height: 15px;line-height: 15px;overflow: hidden;word-break:break-all;}
.owner_comment .comment_main .comment_main_pic .com_main_name:hover{color: #9ec918;}
.owner_comment .comment_main .comment_main_content{float: right;width: 790px;border-bottom: dashed 1px #eee;color: #666;min-height: 80px;}
.owner_comment .comment_main .comment_main_li .comment_main_content{border: none;}
.owner_comment .comment_main .comment_main_content .com_main_head{height: 20px;line-height: 20px;margin-bottom:8px;}
.owner_comment .tab_content .comment_main .comment_main_content .eva_type{display: block;float: left;color: #df3031;font-size: 14px;background-position: -184px -100px;padding-left: 27px;}
.owner_comment .tab_content .comment_main .comment_main_content .eva_type_mid{background-position: -21px -45px;color: #ffb32e;}
.owner_comment .tab_content .comment_main .comment_main_content .eva_type_bad{background-position: -80px -45px;color: #999;}
.owner_comment .comment_main .comment_main_content .eva_time{display: block;float: right;color: #bdbdbd;}
.owner_comment .comment_main .comment_main_content .com_main_con{line-height: 20px;word-break:break-all;word-wrap:break-word;min-height: 1px;margin-bottom: 15px;}
.owner_comment .comment_main .comment_main_content .com_add_eva{margin-bottom: 15px;}
.owner_comment .comment_main .comment_main_content .add_eva_txt{color: #46be8c;}
.owner_comment .comment_main .comment_main_content .add_eva_con{line-height: 20px;}
.owner_comment .comment_main .comment_main_content .com_main_addr{color: #bdbdbd;margin-bottom:15px;}
.owner_comment .page{border-top:solid 1px #eee;margin-top: 0;padding-top: 20px;}
/*成交记录*/
.deal_record{*padding-bottom: 80px;}
.deal_record .project_head{width: 860px;background:#f8f8f8;height: 40px;line-height: 40px;clear: both;}
.deal_record .project_head span,.deal_record .project_main li span{display: block;float: left;font-size: 14px;overflow: hidden;}
.deal_record .project_name{width: 575px;padding-left: 15px;}
.deal_record .project_time{width: 86px;text-align: center;}
.deal_record .project_state{width: 130px;margin-left: 54px;text-align: center;}
.deal_record .project_main li{height: 55px;line-height: 55px;border-bottom: solid 1px #eee;color: #666;}
.deal_record .project_main .project_main_stating{color: #9ec918;}
.deal_record .project_main .project_main_stated{color: #46be8c;}
.deal_record .page .page_num{*margin-top: 20px;}


/*业主评价、成交记录无数据*/
.owner_comment .no_comment_other,.deal_record .no_record_other,.owner_comment .no_comment_self,.deal_record .no_record_self{clear: both;border-top: solid 1px #eee;padding-top: 20px;}
.owner_comment .no_comment_other,.deal_record .no_record_other,.owner_comment .no_comment_self .comment_self_con,.deal_record .no_record_self .record_self_con{font-size: 18px;color: #999;line-height: 18px;text-align: center;font-family: "微软雅黑";line-height: 30px;}

.owner_comment .comment_main .bottom_no_border .comment_main_content,.deal_record .project_main .bottom_no_border{border:none;}



/*关于TA*/
.about_he .about_he_head{height: 65px;line-height: 70px;border-bottom: solid 1px #eee;}
.about_he .about_he_head .about_he_edit{margin-top:20px;}
.about_he .about_he_main{padding-top: 20px;}
.about_he .about_he_main .about_he_pic{float: left;margin-right:25px;}
.about_he .about_he_main .about_he_pic .about_he_img{width: 200px;height: 200px;overflow: hidden;}
.about_he .about_he_main .about_he_pic .about_he_img img{width: 200px;height: 200px;}
.about_he .about_he_main .about_he_pic .popularity{padding: 20px 0;border-bottom:solid 1px #eee;}
.about_he .about_he_main .about_he_pic .popularity .popularity_fans{border-right:solid 1px #eee;margin-right: 20px;padding-right: 20px;display: block;float: left;}
.about_he .about_he_main .about_he_pic .popularity .total_num{font-family: "Arial";color: #9ec918;font-size: 20px;padding-right: 5px;}
.about_he .about_he_main .about_he_pic .popularity .total_txt{color: #666;}
.about_he .about_he_main .about_he_con{width: 595px;padding-left: 25px;float: left;word-wrap:break-word;min-height: 375px;border-left: solid 1px #eee;}
.about_he .about_he_main .about_he_con .a_tlt{font-size: 18px;font-family: "微软雅黑";}
.about_he .about_he_main .about_he_con .a_info{color: #999;margin: 18px 0 30px;}
.about_he .about_he_main .about_he_con .a_info_txt{margin-bottom: 10px;}
.about_he .about_he_main .about_he_con .a_info_txt a{color: #999;}
.about_he .about_he_main .about_he_con .a_info_txt a:hover{color: #9ec918;}
.about_he .about_he_main .about_he_con .intro_award{margin-bottom: 30px;}
.about_he .about_he_main .about_he_con .intro_award .intro_award_tlt{font-size: 14px;color: #999;}
.about_he .about_he_main .about_he_con .intro_award .intro_award_con{color: #666;line-height: 20px;margin-top: 10px;}

/*****博文详情新版*****/
.my_position{margin:5px 0;height: 27px;line-height: 27px;}
.my_position a{color: #666;}
.my_position a:hover{color:#9ec918;}
.my_position span{color: #999;}
.img_content{width: 990px;position: relative;}
.img_content .con_left{width: 722px;float: left;min-height: 700px;}
/*左侧*/
.w662,.image_comment{width:662px;float:left;background:#fff;padding:20px 30px 30px;font-family: "宋体";color: #333;font-size: 12px;overflow: hidden;}
.w662{min-height: 500px;}
.w662 h4{margin:0;font-weight: normal;}
.w662 h4 .c3{position: relative;width: 662px;line-height: 25px;}
.w662 h4 .c3 .cs_tlt{font-size: 18px;display: block;float: left;font-family: "微软雅黑";width: 590px;word-wrap: break-word; }
.w662 h4 .c3 .c3_edit{width: 55px;height: 20px;font-size: 14px;color: #999;display: block;float: right;background:url(http://img.shejiben.com/sjs/img_bg.png?20151103) no-repeat 0px -162px;padding-left: 3px;}
.w662 h4 .c3 .c3_edit:hover{color: #9ec918;background-position: -100px -172px;}
.w662 h4 .c3 i.essences{width:30px !important;height:15px;background:url(http://img.shejiben.com/front_new/bg/picks_bg.gif?20131206) no-repeat 0px -305px;display: block;float: left;margin: 6px 0 0 10px;}
.w662 h4 .vis_col{margin: 12px 0 14px;}
.w662 h4 .vis_col .logTime,.w662 h4 .vis_col .visits{position:relative;display:inline-block;width:auto;font-size:12px;font-weight:100;color:#999;text-align:left;margin-right: 8px;}
.w662 h4 .vis_col .visits{background:url(http://img.shejiben.com/sjs/img_bg.png?20151104) no-repeat -80px -166px;z-index:1;padding-left:20px;height: 14px;line-height: 14px;}
.w662 h4 .log_con_img{max-width: 662px;margin: 15px 0;}
.w662 h4 .log_content{font-size: 14px;color: #666;line-height: 28px;width: 662px;word-wrap:break-word;}
.w662 h4 .log_content em{font-style: italic;}
.w662 h4 .log_content ol,.w662 h4 .log_content ul,.w662 h4 .log_content li{list-style: inherit;margin-left: 10px;}
.w662 h4 .log_content img{ max-width: 100%;}
.w662 h4 .log_content p img{ padding-bottom: 20px;}
/*左侧评论部分*/
.image_comment{padding:25px 30px 7px;clear: both;margin-top: 10px;}
.image_comment .p_tlt{font-size: 14px;font-weight: bold;}
.image_comment ul li{padding: 20px 0;border-top: solid 1px #eee;}
.image_comment ul li.li_01{border: none;}
.image_comment ul li a.com_a{display: block;width: 40px;height: 40px;float: left;border-radius: 20px;overflow: hidden;}
.image_comment ul li a.com_a img{width: 40px;height: 40px;}
.image_comment ul li .div_right{float: right;width: 610px;position: relative;}
.image_comment ul li .div_right .p_01 a{color: #666;margin-right: 10px;}
.image_comment ul li .div_right .p_01 a:hover{color: #9ec918;}
.image_comment ul li .div_right .p_01 em{color: #999;}
.image_comment ul li .div_right .thumbnail{max-width: 610px;margin-top: 15px;}
.image_comment ul li .div_right .p_02{margin: 12px 0 10px;font-size: 14px;width: 610px;line-height: 20px;overflow: hidden;word-wrap:break-word;word-break:break-all;}
.image_comment ul li .com_div{width: 598px;height:26px;border:solid 1px #e3e3e3;padding: 6px;position: relative;margin-top: 15px;}
.image_comment ul li .div_right a.com_reply{position: absolute;right: 7px;top: 0px;display: block;}
.image_comment ul li.li_01 .com_div{float: right;margin: 0;} 
.image_comment ul li .com_div label{font-size: 14px;color: #c7c7c7;position: absolute;top: 10px;left: 10px;}
.image_comment ul li .com_div input.input_text{width: 530px;border: 0;margin-left: 3px;}
.image_comment ul li .com_div input.sub_btn{width: 44px;height: 26px;border: 0;background: #f79b9c;color: #fff;font-size: 14px;margin-left: 14px;disabled:true;}
.sub_btn02{background: #9ec918;}
.image_comment ul li .div_right .div_con{background: #f6f6f6;margin-top: 10px;}
.image_comment ul li .div_right .div_con .reply_list{padding: 12px 10px;border-bottom: solid 1px #eee;display: block;overflow: hidden;}
.image_comment ul li .div_right .div_con .reply_list a{color: #9ec918;height: 20px;cursor: pointer;line-height: 20px;}
.image_comment ul li .div_right .div_con .reply_list i{font-style: normal;line-height: 20px;}
.image_comment ul li .div_right .div_con .reply_list em{word-break:break-all;word-wrap:break-word;line-height: 20px;}
/*右侧*/
.w255{float:right;width:255px;font-family: "宋体";position: relative;}
.w255 .author_info{background:#fff;margin-bottom:10px;}
.w255 .author_info a.user_img{width:60px;height:60px;border:1px solid #e0dee1;border-radius: 30px;margin: 15px 10px 15px 20px;display: block;float: left;overflow: hidden;}
.w255 .author_info a.user_img img{width:60px;height:60px;}
.w255 .author_info .share_icon{margin-left:10px;display: inline-block;background: #ec5657;padding: 2px;color: #fff;border-radius: 2px;}
.w255 .author_info .abtn{width:80px;height:30px;background:#4b9212;color:#fff;border-radius:2px;text-align:center;line-height:30px;font-weight:bold;font-size:14px;margin-top:-11px;margin-left:10px;}
.w255 .author_info .col_number{float:right;}
.w255 .author_info ul{padding-top:20px;}
.w255 .author_info ul li a.designer_name{font-size: 16px;font-weight: bold;color: #333;display: block;width: 120px;overflow: hidden;height: 18px;line-height: 18px;word-break:break-all;}
.w255 .author_info ul li .a_show_pl{color: #00a0e8;margin-left: 10px;}
.w255 .author_info ul li .a_show_pl:hover{color: #9ec918;}
/*右侧图表申请定制表单*/
/*#blogForm{ width: auto; position:absolute; top: 368px;right:0;background:#fff; z-index: 100;clear: both;}
#blogForm .input_form { width: 219px;  background: #fff; padding: 20px 18px 10px; }*/

/*左侧收藏部分*/
.img_share{position: fixed; display: none;}
.img_share .share_top{background: #fff;width: 48px;position: relative;}
.img_share .share_top .share_con{padding:10px 0 0 0;position: relative;height: 45px;}
.img_share .share_top a{display: block;width: 48px;border-bottom: solid 1px #eee;text-align: center;padding-top: 10px;font-size: 14px;color: #999;}
.img_share .share_top a:hover{color: #999;}
.img_share .share_top i{background: url(http://img.shejiben.com/sjs/img_bg.png);width: 20px;height: 20px;display: block;margin: 0 auto 2px;}
.img_share .share_top a.a_01 i{background-position:-5px -8px; }
.img_share .share_top a.a_02 i{background-position:-42px -8px; }
.img_share .share_top .share_con i{background-position:-82px -8px;}
.img_share .share_top a em{font-size: 14px;color: #999;margin-bottom: 5px;display: block;}
.img_share .share_top .bds_count{background: none;position: absolute;z-index: 100;left: 0;top: 0;width: 48px;height: 56px;text-align: center;line-height: 70px;padding-top: 0;}
.img_share .share_bottom{position: relative;}
.img_share .share_bottom a.bottom_a01{display: block;background: url(http://img.shejiben.com/sjs/img_bg.png);background-position: -5px -38px;width: 48px;height: 100px;margin-top: 10px;}
.img_share .share_bottom a.bottom_a02{position: absolute;width: 108px;height: 122px;background: url(http://img.shejiben.com/sjs/img_bg.png) no-repeat -67px -34px;top:-1px;left:50px;display: none;}
.img_share .share_bottom:hover .bottom_a02{display: block;}
.followingA,.guanzhuA{background:url(http://img.shejiben.com/front_new/bg/follow.gif?20130828) no-repeat; width:72px; height:27px; line-height:24px; float:left; cursor:pointer;}
.followingA:hover,.guanzhuA:hover{ background-position:0 -27px;}
.followingA .following,.followingA .unfollow,.followingA .follow,.guanzhuA .following,.guanzhuA .unfollow,.guanzhuA .follow{background:url(http://img.shejiben.com/front_new/bg/follow.gif?20130828) no-repeat; background-position:0 -57px;+background-position:0 -59px; float:left; line-height:14px; padding:0 0 0 18px; margin:4px 0 0 8px;+margin:6px 0 0 8px;}
.followingA .unfollow,.guanzhuA .unfollow{ background-position: 0 -77px;+background-position:0 -79px;}
.followingA .follow,.guanzhuA .follow{background-position: 0 -96px;cursor:pointer;+background-position:0 -98px;}
.mt15{margin-top: 12px;}
.mt15 .total_thumb{color: #999;}
.mt15 span {display:inline-block;}
.mt15 span#follow_span {margin-top:-5px;}

/****TA的作品****/
.designer_nav .designer_nav_ul li.more_li a.nav_more_opus{background-position: -225px -101px;padding-right: 13px;}


/****博文列表****/
.designer_opus_main .desc_blog_head{height:72px;line-height: 78px;}
.designer_opus_main .manage_blog{margin-top: 23px;}
.deigner_main .desc_blog_class{float: left;font-size: 14px;}
.deigner_main .desc_blog_class .blog_class_tlt{float: left;}
.deigner_main .blog_class_list{width: 110px;height: 30px;border: solid 1px #e3e3e3;float: left;margin: 23px 0 0 2px;position: relative;padding-right: 20px;}
.deigner_main .blog_class_list .class_list_one{width: 110px;text-indent: 10px; color: #666; padding: 5px 0; height: 20px;line-height: 20px;color: #666;display: block;}
.deigner_main .blog_class_list .class_list_one em{padding: 0;margin: 0;text-indent: 0;}
.deigner_main .blog_class_list .class_list_one .class_list_txt{max-width: 56px;height: 20px;overflow: hidden;word-break:break-all;float: left;margin-left: 10px;}
.deigner_main .blog_class_list .class_list_one .class_list_num{width: 10px;margin-left: -10px;}
.deigner_main .blog_class_list em.arrow{width: 10px; height: 6px; display:block; margin:14px 0 0 10px; position: absolute; cursor: pointer; top:0; right: 10px; background:url(http://img.shejiben.com/front_new/bg/menubar.gif?20131119) no-repeat right -106px;}
.deigner_main .blog_class_list .class_list_tags{position: absolute;left: -1px;top: 30px;display: none;width: 130px;border: solid 1px #e3e3e3;border-top: none;background: #fff;overflow: hidden;word-break:break-all;}
.deigner_main .blog_class_list .class_list_tags .class_list_tag{display: block;height: 25px;line-height: 25px;width: 110px;color: #666;padding:0 10px;font-family: "宋体";overflow: hidden;word-break:break-all;}
.deigner_main .blog_class_list .class_list_tags .class_list_tag:hover{color: #9ec918;background:#e4e4e4;}
.deigner_main .blog_class_list:hover .class_list_tags{display: block;}


/****TA的收藏****/
.designer_content_store .opus_nav{ padding: 23px 0 2px;}
.designer_content_store .store_title{ width: auto; float: left; height: 26px; font-size: 22px; font-family: '微软雅黑'; color: #333;}
.designer_content_store .store_title em{ padding-left: 5px;}
.designer_content_store .designer_collect_main .opus_nav{*height: 53px;}

.no_data .tips{text-align: center; display: block; color: #999; font-size: 18px;padding:30px 0;  font-family: '微软雅黑';}
.no_data .tips_s{ text-align: center; font-size: 12px; color: #999;font-family: '微软雅黑'; margin-top: 4px;}
.no_data .tips_s em{ font-size: 12px; color: #9ec918; padding-right: 5px;}
.no_data .btn_store{ width: 110px; height: 30px; line-height: 30px; text-align: center; color: #fff; font-size: 14px; background: #9ec918; display: block; margin: 0 auto; margin-top: 27px;border-radius: 5px;}
.no_data .btn_store:hover{ background: #f77071;}
.designer_main_min .no_data .tips{padding: 120px 0 0;}

.upload_btn_close{ width: 36px; height: 36px; position: absolute;background-position: -142px -149px;display: block;}
/****本地上传****/
.upload_img{width: 648px;height: 580px;font-size: 16px;position: fixed;top: 158px;top:50%;left: 50%;margin-left: -330px;background: #fff;z-index: 2000;margin-top: -290px;}
.upload_img .upload_img_head{height: 65px;border-bottom: solid 1px #f2f2f2;padding:0 60px;position: relative;}
.upload_img .upload_img_head .upload_btn_close{top: -2px;right: -1px;}
.upload_img .upload_img_head .upload_head_tlt{font-weight: bold;display: block;margin-top: 25px;float: left;}
.upload_img .upload_img_head .upload_head_recom{width: 80px;height: 30px;line-height: 30px;text-align: center;color: #9ec918;border: solid 1px #9ec918;border-radius: 5px;display: block;float: right;margin-top: 15px;}
.upload_img .upload_img_main{padding: 76px 60px;}
.upload_img .upload_img_main .img_main_select{width: 110px;height: 30px;background: #9ec918;border-radius: 5px;display: block;line-height: 30px;text-align: center;margin: 20px 0;color: #fff;}
.upload_img .upload_img_main .img_main_box{min-height: 80px;}
.upload_img .upload_img_main .img_main_bg .main_bg{width: 510px;height: 26px;background: #f8f8f8;padding: 20px 10px 20px 20px;}
.upload_img .upload_img_main .img_main_bg .main_bg .main_bg_name{font-size: 12px;color: #999;position: relative;height: 14px;}
.upload_img .upload_img_main .img_main_bg .main_bg .main_bg_name .btn_bg_close{display: block;width: 20px;height: 17px;background-position: -25px -154px;position: absolute;top:-10px;right: -5px;cursor: pointer;}
.upload_img .upload_img_main .img_main_bg .main_bg .progress{width: 500px;height: 4px;background: #e3e3e3;*margin-top: 10px;}
.upload_img .upload_img_main .img_main_bg .main_bg .progress_art{display: block;height: 4px;background: #9ec918;margin: 10px 0 20px;width: 30px;*margin-top: 0;}
.upload_img .upload_img_main .img_main_bg .upload_sub{height: 50px;line-height: 50px;}
.upload_img .upload_img_main .img_main_bg .upload_sub span{font-size: 14px;color: #666;display: block;float: left;margin-left: 15px;}
.upload_img .upload_img_main .img_main_bg .upload_sub  .sub_btn_box{width: 60px;height: 30px;display: block;border: solid 1px #9ec918;border-radius: 5px;float: right;margin-top: 10px;margin-right: 20px;}
.upload_img .upload_img_main .img_main_bg .upload_sub .upload_sub_btn{width: 60px;height: 30px;display: block;border: none;float: right;background: none;color: #9ec918;cursor: pointer;}
.upload_img .upload_img_main .prompt{margin-top: 50px;}
.upload_img .upload_img_main .prompt span{display: block;}
.upload_img .upload_img_main .prompt .prompt_con{margin-top: 10px;color: #999;font-size: 12px;}
/****换背景****/
.popup_upload_head{width: 614px; height: 540px; padding:20px 17px; background: #fff; position: fixed;left: 50%; top:50%;margin-left:-330px;margin-top: -290px;z-index: 2000;}
.popup_upload_head .title{ width: 100%; height: 30px; line-height: 30px; position: relative;}
.popup_upload_head .title .title_l{ width: auto; float: left; color: #333; font-size: 14px;font-size: 16px;font-weight: bold;}
.popup_upload_head .title .btn_upload{ width: 80px; height: 28px; color: #9ec918; text-align: center; font-size: 14px; line-height: 28px; cursor: pointer; border: 1px #9ec918 solid; border-radius: 4px; float: right; margin-right: 20px;}
.popup_upload_head .title .upload_btn_close{top: -22px; right: -18px;}
.popup_upload_head ul{ width: 631px; height: 500px; overflow-y:scroll; margin-top: 10px; position: relative;}
.popup_upload_head ul li{ margin: 0; padding: 0; margin-bottom: 10px; height: 128px; overflow: hidden; background: #000; cursor: pointer; position: relative;}
.popup_upload_head ul li img{ width:100%; height: auto; margin: 0; padding: 0;}
.popup_upload_head ul li .set_bg{ width: 78px; height: 34px; background: none; border: 1px #fff solid; border-radius: 4px; line-height: 34px; font-size: 14px; text-align: center; position: absolute; top: 50%;left: 50%; margin-left: -39px; margin-top: -17px;color: #fff; display: none;}
.popup_upload_head ul li:hover img{ opacity: 0.5;filter:alpha(opacity=50);}
.popup_upload_head ul li:hover .set_bg{ display: block;}

/****换背景成功后弹窗****/
.setbg_success{background:#fff;}
.setbg_success .title{ width: 100%; height: 40px; line-height: 40px; background: #333;}
.setbg_success .title p{ text-indent: 10px; width:auto; float: left; font-size: 16px; color: #999;}
.setbg_success .content p{ width: 100%; height: auto; text-align: center;}
.setbg_success .title .ico_popup_close{ float: right; margin:15px 20px 0 0; cursor: pointer; }
.setbg_success{ width: 400px; height: 180px; position: fixed; left: 50%; margin-left: -200px; top: 50%; margin-top: -90px;z-index: 2000;}
.setbg_success .ico_right_b{ margin:0 10px -15px 0;}
.setbg_success .content .tips_b{ font-size: 24px; font-weight: normal; font-family: '微软雅黑';padding-top: 30px;}

/****分页****/
.page{margin-top: 20px;}
.designer_collect_main .page{margin: 0;}
.page_num{margin:0 0 3px;}

/***消息提示框***/
.sjbNewTop .newTopBg .head1 .newMessage{display: none;}

/****预约咨询弹窗****/
#cboxTopCenter{*display: none;}

/* uploadify default css */
.uploadify-button {-webkit-border-radius: 5px;-moz-border-radius: 5px;width: 110px;height: 30px;background: #9ec918;border-radius: 5px;display: block;line-height: 30px;text-align: center;margin: 20px 0;color: #fff;}
.uploadify:hover .uploadify-button {
    background-color: #606060;
    background-image: linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #606060),
        color-stop(1, #808080)
    );
    background-position: center bottom;
}
.uploadify-button.disabled {
    background-color: #D0D0D0;
    color: #808080;
}

.uploadify-queue-item {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 11px Verdana, Geneva, sans-serif;
    margin-top: 5px;
    padding: 10px;
}
.uploadify-error {
    background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
    background: url('http://www.to8to.com/img/front_end/button/uploadify-cancel.png') 0 0 no-repeat;
    float: right;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.uploadify-queue-item.completed {
    background-color: #E5E5E5;
}
.uploadify-progress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}
.uploadify-progress-bar {
    background-color: #9ec918;
    height: 3px;
    width: 1px;
}
/* end */

.uploadify-queue{background: url(http://img.shejiben.com/sjs/designer_icon.png) no-repeat;}
.uploadify-queue-item{
    width: 510px;
    height: 26px;
    background: #f8f8f8;
    padding: 20px 10px 20px 20px;
}
.uploadify-queue-item span{font-size: 12px;color: #999;position: relative;height: 14px;}
.uploadify-queue-item .cancel a{display: block;width: 20px;height: 17px;background-position: -25px -154px;position: absolute;top:-10px;right: -5px;cursor: pointer;}
/*.uploadify-queue-item .uploadify-progress{display: block;height: 4px;background: #9ec918;margin: 10px 0 20px;width: 30px;*margin-top: 0;}*/

/*热门设计师推荐*/
.hot_designer{ padding-bottom: 10px;}
.hot_designer .column_name{ font-size: 16px; color: #333; font-family: '微软雅黑'; margin-top: 55px; padding-bottom: 10px; border-bottom: 1px #eee solid;}
.hot_designer .link_list{ margin-top: 20px;}
.hot_designer a{ margin:0 13px 10px 0; display: inline-block;}

.operate_img{ margin-bottom: 20px;}

.sub_zb_form .bg{width: 237px;height: 140px; margin:0 0 10px 18px; background-position: 0 -250px;}
.sub_zb_form .input_form{ padding: 10px 20px 25px;}
