/* ******æ¡ˆä¾‹åˆ—è¡¨é¡µ****** */
html,body{ background: #f5f5f5;}
/*ç­›é€‰æ¡†*/
.fiter{padding:15px 20px;width:1140px;background:#fff;}
.fiter .fiter_line{padding:10px 0px  5px;line-height:25px;overflow:hidden;zoom:1;}
.fiter .fiter_line .column{font-size:14px;color:#333333;font-weight:bold;float:left;}
.fiter .fiter_line .list{float:left;width:828px;height: auto; color:#555;white-space: nowrap;}
.fiter .fiter_line .list a{float:left;padding:0px 5px;margin: 0 14px 5px; height:25px;text-align:left; line-height:25px;}
.fiter .fiter_line .list .onselect{border-radius:5px;background:#dd4f50;color: #fff;}
.fiter .fiter_line .list a span, .fiter .fiter-line .list a em{float:left;}

/*æ¡ˆä¾‹åˆ—è¡¨*/
.no-result{margin-bottom: 20px;width: 1180px;height: 120px;text-align: center;line-height: 120px;color: #646464;font-size: 16px;background: #fff;}
.case-banner{ width: 1180px;padding-bottom: 20px; float: left;}
.case-list-box{width:1210px;margin-top:10px;position: relative;}
.case-list{width:282px; height: 315px;  float:left;margin:0 17px 20px 0;background:#fff; display: block;}
.case-list-hot{
    position: relative;
}
.case-list .icon-hot{
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 20px;
    line-height: 20px;
    background: #F75E61;
    font-style: normal;
    font-size: 12px;
    color: #fff;
    text-align: center;
    border-bottom-right-radius: 5px;
    z-index: 10;
}
.case-list .case-info{padding:0 15px; margin: 15px 0 10px; height: 50px;width: 252px;display: block;overflow: hidden;}
.case-list .case-info .title{display: block; margin-bottom:15px;font-size:14px;color:#333;line-height: 18px;}
.case-list .case-info .cut-line{padding:0 10px; border-right:1px #999 solid;  }
.case-list .case-info .space{ padding-left: 0;line-height: 18px;}
.case-list .case-info .price{ padding-left: 10px;}

.case-list-box .case-sjs{height:22px;padding:10px 15px;z-index: 20;border-top: 1px solid #e6e6e6;}
.case-list-box .case-sjs .head img{border-radius:10px;}
.case-list-box .case-sjs .nick{ width: 220px; height:22px;line-height:22px;margin-left:10px;color:#333333;}
.case-list-box .case-sjs .bick a{color:#333333;}
.case-list-box .case-sjs .nick a:hover{color:#333333;text-decoration:underline;}


.userInfoFrame{width:300px;height:152px;padding:20px;background:#fff;position:absolute;border:1px solid #cbcbcb; bottom: 42px; left: 0;}
.userInfoFrame .head{width: 100px;height: 100px;}
.userInfoFrame .info{float:right;width:185px;height: 100px;}
.userInfoFrame .info ul li{color:#999999;line-height:22px;}
.userInfoFrame .info .name{color:#333333;font-size:14px;font-family:'å¾®è½¯é›…é»‘';line-height:25px;height:25px;overflow:hidden;word-break:break-all;}
.userInfoFrame .info .price span{color:#dd4f50;}
.userInfoFrame .info .rank{margin:5px 0 12px;}
.userInfoFrame .info .rank a{ display: block;}
.userInfoFrame .info .rank span{ margin-right: 5px;}

.userInfoFrame .btn{padding-top:20px;clear: both;}
.reservation{cursor:pointer;top:20px;width:102px;height:33px;line-height:33px;background:#e94c3d;border-radius:5px;text-align:center;color:#fff;font-size:14px;font-family:'å¾®è½¯é›…é»‘';}
.reservation:hover{background:#f77071;color: #fff;}
.userInfoFrame .reserveBtn{float:left;}
.userInfoFrame .btn .followBtn{padding:0 15px;border:1px solid #e6e6e6;float:right;margin-top:5px;color:#999;line-height: 24px;}
.userInfoFrame .btn .followBtn:hover{color:#dd4f50;}
.userInfoFrame .btn .followBtn span{font-size:16px;}
.userInfoFrame .sharp{position:absolute;top:192px;left:25px;width:13px;height:9px;background:url(http://img.shejiben.com/front_new/bg/newworks_bg.gif?20140430) no-repeat -56px -171px;}

/* å®¤å†…è®¾è®¡ä¸“é¢˜ */
.sjzt-links{width:1180px;margin:0 auto;color:#bfc1c0;clear:both;}
.sjzt-links .sjzt-links-column {float:left;margin:0 12px 0 0;height:24px;line-height:24px;font-size:18px;font-weight: bold;color:#ababab;font-family: "å¾®è½¯é›…é»‘";}
.sjzt-links .string {float:right;padding-right:10px;margin-top: 19px; width:1010px;height:1px;border-bottom:1px solid #d8d8d8;}
.sjzt-links .sjzt-links-list {padding: 24px 0 0; width:1180px;height: 66px;overflow:hidden;}
.sjzt-links .sjzt-links-list a {float:left;color:#333;margin:0px 8px 8px;line-height: 16px; word-break:break-all;white-space:nowrap;color:#8d8b8c;}

