/* ******æ¡ˆä¾‹åˆ—è¡¨é¡µ****** */
/*ç­›é€‰æ¡†*/
.case-fiter{padding:15px 30px;width:1120px;background:#fff;}
.case-fiter .case-fiter-line{padding:10px 0px;line-height:25px;overflow:hidden;zoom:1;}
.case-fiter .case-fiter-line .comumn{font-size:14px;color:#333333;font-weight:bold;float:left;}
.case-fiter .case-fiter-line .list{float:left;width:870px;height: 25px; color:#555;white-space: nowrap;}
.case-fiter .case-fiter-line .list a{float:left;padding:0px 5px;margin: 0 15px; height:25px;text-align:left; line-height:25px;}
.case-fiter .case-fiter-line .list .onselect{border-radius:5px;background:#9ec918;color: #fff;}
.case-fiter .case-fiter-line .list a span, .case-fiter .case-fiter-line .list a em{float:left;}

/*æ¡ˆä¾‹åˆ—è¡¨*/
.no-result{margin-bottom: 20px;width: 1180px;height: 120px;text-align: center;line-height: 120px;color: #646464;font-size: 16px;background: #fff;}
.case-banner{ width: 1180px;padding-bottom: 20px; float: left;}
.case-list-box{width:1210px;margin-top:10px;position: relative;}
.case-list{width:282px; height: 408px;  float:left;margin:0 17px 20px 0;background:#fff; display: block;}
.case-list .case-info{padding:0 15px; margin: 15px 0; height: 40px;width: 252px;display: block;overflow: hidden;}
.case-list .case-info .title{margin-bottom:10px;font-size:14px;color:#333;}
.case-list .case-info .cut-line{padding:0 10px; border-right:1px #999 solid;  }
.case-list .case-info .space{ padding-left: 0;}
.case-list .case-info .price{ padding-left: 10px;}
.case-list .case-info .caseProperty .casePrice{color:#c80808;}
.case-list .case-info .caseProperty .delimiter{margin:0px 8px;}
.case-list .delimiter_s{height:0px;border-bottom:1px solid #e6e6e6;}
.case-list .case-info .caseView{overflow:hidden;zoom:1;}
.case-list .case-info .caseView span{float:left;margin-right:10px;}
.case-list .case-info .caseView em{float:left;width:14px;height:14px;background:url(http://img.shejiben.com/front_new/bg/newworks_bg.gif?2014050702) no-repeat;}
.case-list .case-info .caseView .views em{background-position:0px -168px;width:16px;}
.case-list .case-info .caseView .imgNums em{background-position:-19px -168px;}
.case-list .case-info .caseView .collections em{background-position:-37px -168px;}

.case-list-box .case-list .caseAuthor{height:22px;padding:10px 15px;position: relative;z-index: 20;}
.case-list-box .case-list .caseAuthor .authorHeadPhoto img{border-radius:10px;}
.case-list-box .case-list .caseAuthor .authorNick{ width: 220px; height:22px;line-height:22px;margin-left:10px;color:#333333; overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}
.case-list-box .case-list .caseAuthor .authorNick a{color:#333333;}
.case-list-box .case-list .caseAuthor .authorNick a:hover{color:#333333;text-decoration:underline;}

/* å®¤å†…è®¾è®¡ä¸“é¢˜ */
.sjzt-links{width:1180px;margin:0 auto;color:#bfc1c0;clear:both;}
.sjzt-links .sjzt-links-column {float:left;margin:0 12px 0 0;height:24px;line-height:24px;font-size:18px;font-weight: bold;color:#ababab;font-family: "å¾®è½¯é›…é»‘";}
.sjzt-links .string {float:right;padding-right:10px;margin-top: 19px; width:1010px;height:1px;border-bottom:1px solid #d8d8d8;}
.sjzt-links .sjzt-links-list {padding: 24px 0;width:1180px;height: 34px;overflow:hidden;}
.sjzt-links .sjzt-links-list a {float:left;color:#333;margin:0px 8px 8px;word-break:break-all;white-space:nowrap;color:#8d8b8c;}


/*æ¡ˆä¾‹è¯¦æƒ…é¡µ*/

html,body{ background: #f5f5f5;}
.pageTag{position: relative; height:40px;line-height:40px;color:#555555;margin:0px;}
.pageTag a{color:#555;}
.content{ position: relative;}
.pageTag i {display: inline-block;height: 0;width: 0;border-top: 3px solid #999;border-right: 3px solid #f8f8f8;border-left: 3px solid #f8f8f8;}
ul.otherTag {padding:5px ;display: none;position: absolute;top: 30px;left: 0;height:250px;border: 1px solid #eaeaea;color: #666;background: #fff;z-index: 30;}
ul.otherTag li {float: left;}
ul.otherTag dl {}
ul.otherTag dl dt {margin-left: 24px;font-weight: bolder;}
ul.othertag{}
ul.otherTag dl dd.left {padding-left: 24px;}
ul.otherTag dl dd.right {margin: auto 24px;}
ul.otherTag dl dd {float: left;height: 192px;}
ul.otherTag dl dd a {display: block;line-height: 24px;}
.caseInfo{ width: 724px;float: left;}
.caseInfo .caseDetail{width:660px;margin:auto;background:#fff;padding:20px 32px 0; }
.caseInfo .caseDetail .caseTitle{font-size:18px;font-family:'å¾®è½¯é›…é»‘';color:#333333;font-weight:100;}
.caseInfo .caseDetail .caseProperty{margin:15px 0px 30px 0px;color:#999999;}
.caseInfo .caseDetail .caseProperty span{}
.del{margin:0px 10px;}
.caseInfo .caseDetail .caseDescription{padding:20px 25px;border:1px solid #d6d6d6;position:relative;line-height:22px;word-break: break-all;}
.caseInfo .caseDetail .caseDescription .desTitle{color:#666666;position: absolute;width: 200px;text-align: center;top: -9px;background: #fff;font-size: 14px;left: 37px;}
.caseInfo .caseDetail .caseDescription .desIcon{position:absolute;width:31px;height:19px;background:url(http://img.shejiben.com/front_new/bg/blog_icon.gif?2014042902) no-repeat -26px -294px;right:20px;top:-9px;}
.caseInfo .caseDetail .imgContent{margin-top:15px;}
.caseInfo .caseDetail .imgContent .caseImgList{margin-bottom:10px;position:relative;}
.caseInfo .caseDetail .imgContent .caseImgList .wraps{position:absolute;top:20px;right:20px;display:none;}
.caseInfo .caseDetail .imgContent .caseImgList img{margin:auto; max-width: 660px;}
.caseInfo .caseDetail .imgContent .caseImgList .imgDescription{margin:15px 0px;line-height: 24px;}
.caseInfo .caseDetail .otherCase{margin-top:40px;}
.caseInfo .caseDetail .otherCase h4{color:#949494;font-size:14px;padding-bottom:10px;border-bottom:2px solid #efefef;}
.caseInfo .caseDetail .otherCase .otherCaseContent{width:700px;margin-top:10px;}
.caseInfo .caseDetail .otherCase .otherCaseContent .otherCaseList{width:320px;margin-right:20px;float:left;margin-bottom:15px;}
.caseInfo .caseDetail .otherCase .otherCaseContent .otherCaseList .caseName{line-height:25px;color:#555555;}
.caseInfo .caseDetail .imgContent .caseImgList:hover .wraps{display: block;}
.caseInfo .collection ,.caseInfo .question{min-width: 50px;height: 34px;text-align: center;padding: 0 20px;background: #333;border-radius: 5px;float: right;margin-left: 10px; cursor: pointer;}
.caseInfo .collection a,.caseInfo .question a{display: inline-block;line-height: 34px; color: #fff;}
.caseInfo .icon{display: inline-block;height: 16px;margin:0 2px -5px 0;background: url(http://img.shejiben.com/global.png?20151121) no-repeat;}
.caseInfo .caseDetail .imgContent .caseImgList .collection .icon_collection{width: 10px; background-position: -199px -216px;}
.caseInfo .caseDetail .imgContent .caseImgList .question .icon_question{width: 10px; background-position: -214px -216px;}
.caseInfo .caseDetail .imgContent .caseImgList .collection:hover ,.caseInfo .caseDetail .imgContent .caseImgList .question:hover{ background: #9ec918;}
/*æ¡ˆä¾‹è¯¦æƒ…é¡µ  æ–°ç‰ˆç”¨æˆ·ä¿¡æ¯*/
.sjsInfo_box{width:215px; position:absolute; background: #fff; right: 0; padding: 20px;min-height: 500px;}
.sjsInfo{width:215px; padding: 20px; height:auto; position:absolute; top:0; right:0; }
.sjsInfo .author_info{ width: 100%; height: 76px; padding-bottom: 20px; border-bottom: 1px #f3f3f3 solid;}
.sjsInfo .author_info .author_head{ width: 76px; height: 76px; float: left;}
.sjsInfo .author_info .author_head img{ width: 76px; height: 76px;}
.sjsInfo .author_info .author_name {width: 119px; height: 76px; float: right;}
.sjsInfo .author_info .author_name .name{ width: 100%; height: 18px; line-height:18px; font-size: 16px; color: #333; display: block; font-weight: bold; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.sjsInfo .author_info .author_name .icon_renzhen{ width: 100%; height: 17px; display: block; padding: 12px 0 14px;}
.sjsInfo .author_info .author_name .city{ width: 100%; height: 12px; line-height: 12px; color: #333;}
.sjsInfo .author_info .author_name .city a{line-height: 15px;}

.sjsInfo .order_total{ width: 100%; height: auto; clear: both; padding-top: 10px; border-bottom: 1px #f3f3f3 solid;}
.sjsInfo .order_total ul{ width:100%; height: auto;}
.sjsInfo .order_total ul li{ width: 71px; float: left;}
.sjsInfo .order_total ul li em{ width: 100%; text-align: center;  display: block; font-size: 16px; line-height: 16px; color: #333;}
.sjsInfo .order_total ul li label{ width: 100%; text-align: center;  display: block; font-size:12px; height: 12px; line-height: 12px; padding: 5px 0 10px; color: #333; }
.sjsInfo .order_total ul li a:hover{ color: #9ec918;}
.sjsInfo .price{width: auto; margin: 0 auto; padding: 25px 0; height: 30px; font-size: 16px; text-align: center;  font-family: 'å¾®è½¯é›…é»‘';}
.sjsInfo .price label{width: auto; font-size: 14px; height: 14px; line-height: 14px; float: left; color: #666; padding-top: 14px; font-family: 'Arial';}
.sjsInfo .price .icon_price{}
.sjsInfo .price em{ width: auto; height: 30px; line-height: 30px; font-size: 30px; color: #e94c3d; padding:0 10px; font-family: 'Arial'; }
.sjsInfo .btn{width: 100%; height: 40px; font-size: 14px; line-height: 40px; color: #fff; background: #9ec918;  cursor: pointer; text-align: center; display: block; font-family: 'å¾®è½¯é›…é»‘';}
.sjsInfo .reservation{ background: #9ec918; font-weight: bold;}
.sjsInfo .reservation:hover{ background: #f77071;}
.sjsInfo .tel_400{ width: 100%; height: 40px; background: #46be8c; font-size: 16px; margin-top: 15px; display: block; position: relative;}
.sjsInfo .tel_400 label{ float: left; cursor: pointer;}
.sjsInfo .tel_400 em{width: 8px; height: 18px; display: block; float: left; background: url(http://img.shejiben.com/front_new/bg/blog_icon.gif) no-repeat -108px -438px; margin:10px 10px 0 0px;}
.sjsInfo .tel_400:hover .notice{display:block;}
.sjsInfo .center_400{text-align: center;display: inline-block;}
.sjsInfo .tel_400 .notice{ width:auto; height: 50px; display: none; position: absolute;top:-45px; left: 0; right: -11px; z-index: 2;}
.sjsInfo .tel_400 .notice p{border:1px solid #f3cecb;width:auto; height:36px; line-height: 36px; background: #fffdee;color:#666;font-size: 12px; margin:0;padding:0 10px;font-family: 'å®‹ä½“';}
.sjsInfo .tel_400 .notice span{background:url(http://img.shejiben.com/my/phone_pic.png?20150113) no-repeat -81px -13px; width: 100px; height: 6px; margin:-1px 0 0 40px; display: block;}

.sjsInfo .guide{ padding-top: 15px; width: 100%; height: 12px; display: block; text-align: center;}
.sjsInfo .guide:hover{ color: #ff0000;}
.scrollBanner{position:fixed;_position:absolute;width:100%;height:50px;background:#fff;left:0px;top:0px;display:none;}
.scrollBanner .scrollMiddle{width:925px;margin:auto;padding-top:11px;}
.scrollBanner .scrollMiddle div{float:left;}
.scrollBanner .scrollMiddle .yuyue{float:right;}
.scrollBanner .scrollMiddle .scrollNick{font-size:16px;color:#555555;font-weight:bold;height:28px;line-height:28px;margin-right:45px;}
.scrollBanner .scrollMiddle .scrollPhoto{margin-right:15px;}
.scrollBanner .scrollMiddle .scrollPrice{height:28px;line-height:28px;color:#999999;}
.scrollBanner .scrollMiddle .scrollPrice span{color:#fc0707;}

/*è¯„è®ºéƒ¨åˆ†*/
.image_comment{width: 664px;margin-top: 10px;float: left;padding:20px 30px 0;clear: both;background:#fff;}
.image_comment .p_tlt{font-size: 14px;font-weight: bold;}
.image_comment ul li{padding: 20px 0;border-top: solid 1px #eee;}
.image_comment ul li.li_01{border: none;}
.image_comment ul li a.com_a{display: block;width: 40px;height: 40px;float: left;border-radius: 20px;overflow: hidden;}
.image_comment ul li a.com_a img{width: 40px;height: 40px;}
.image_comment ul li .div_right{float: right;width: 610px;}
.image_comment ul li .div_right .p_01 a{color: #666;margin-right: 10px;}
.image_comment ul li .div_right .p_01 a:hover{color: #9ec918;}
.image_comment ul li .div_right .p_01 em{color: #999;}
.image_comment ul li .div_right .p_02{margin: 12px 0 10px;font-size: 14px;width: 570px;line-height: 20px;overflow: hidden;word-wrap:break-word;word-break:break-all;}
.image_comment ul li .com_div{width: 598px;height:26px;border:solid 1px #e3e3e3;padding: 6px;position: relative;margin-top: 10px;}
.image_comment ul li .com_divs{position: relative;}
.image_comment ul li .com_divs a{position: absolute;right: 7px;top: -26px;display: block;}
.image_comment ul .li_01 .com_div{float: right;margin: 0;}
.image_comment ul li .com_div label{font-size: 14px;color: #c7c7c7;position: absolute;top: 9px;left: 10px;display: block;height: 22px;line-height: 22px;*top:10px;}
.image_comment ul li .com_div input.input_text{width: 530px;border: 0;margin-left: 3px;}
.image_comment ul li .com_div input.sub_btn{width: 44px;height: 26px;border: 0;background: #f79b9c;color: #fff;font-size: 14px;margin-left: 14px;disabled:true;cursor: pointer;}
.image_comment ul li .div_right .div_con{background: #f6f6f6;margin-top: 10px;}
.image_comment ul li .div_right .div_con span{padding: 12px 10px;border-bottom: solid 1px #eee;display: block;overflow: hidden;}
.image_comment ul li .div_right .div_con a{color: #9ec918;height: 20px;cursor: pointer;line-height: 20px;}
.image_comment ul li .div_right .div_con a.no_pointer{cursor: default;}
.image_comment ul li .div_right .div_con span i{font-style: normal;line-height: 20px;}
.image_comment ul li .div_right .div_con span em{word-break:break-all;word-wrap:break-word;width: 525px;line-height: 20px;}

/*å·¦ä¾§æ”¶è—éƒ¨åˆ†*/
.img_share{position: fixed;}
.img_share .share_top{background: #fff;width: 48px;position: relative;}
.img_share .share_top .share_con{display: block;width: 48px;border-bottom: solid 1px #eee;text-align: center;padding-top: 10px;}
.img_share .share_top .share_con i{background: url(http://img.shejiben.com/front_new/bg/img_bg.png);width: 20px;height: 20px;display: block;margin: 0 auto 2px;}
.img_share .share_top .collect_btn i{background-position:-5px -8px;}
.img_share .share_top .comment_btn i{background-position:-42px -8px;}
.img_share .share_top .bdsharebuttonbox{position: relative;height: 45px;}
.img_share .share_top .bdsharebuttonbox i{background-position:-82px -8px;}
.img_share .share_top .share_con .s_num{font-size: 14px;color: #999;margin-bottom: 5px;display: block;}
.img_share .share_top .bdsharebuttonbox .s_num{background: none;position: absolute;z-index: 100;left: 0;top: 0;width: 48px;height: 56px;text-align: center;line-height: 70px;}
.img_share .share_bottom{position: relative;}
.img_share .share_bottom a.bottom_a01{display: block;background: url(http://img.shejiben.com/front_new/bg/img_bg.png);background-position: -5px -38px;width: 48px;height: 100px;margin-top: 10px;}
.img_share .share_bottom .show_code em ,.show_code .icon_arrow{
    background: url(http://img.shejiben.com/shejiben_img/common/weixin_code.png?20170824);
}
.show_code .icon_arrow{
    position: absolute;
    top: 20px;
    left: -5px;
    width: 5px;
    height: 8px;
    display: block;
    background-position: -236px -2px;
}
.img_share .share_bottom .show_code{  
    display: none;  
    position: absolute;
    top: 0;
    left: 55px;
    width: 342px;
    height: 174px;
    z-index: 990;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .2);
    background: #fff;
}
.img_share .share_bottom:hover .show_code{
    display: block;
}
.show_code p{
    text-align: center;
}
.show_code .app_code{
    float: left;
    display: block;
    width: 110px;
    height: auto;
    margin: 15px 0 3px 32px;
    border-right: none;
    *border-right: 0;
}
.img_share .show_code .app_code em{
    display: block;
    width: 110px;
    height: 110px;
    margin-bottom: 8px;
    background-position: -3px -5px;
}
.show_code .app_code p{
    line-height: 16px;
    color: #ef404a;
    font-size: 12px;
}
.show_code .weixin_code{
    float: left;
    display: block;
    width: 120px;
    height: auto;
    margin: 15px 0 3px 60px;
    border-right: none;
    *border-right: 0;
}
.img_share .show_code .weixin_code em{
    display: block;
    width: 110px;
    height: 110px;
    margin: 0 auto 8px;
    background-position:-120px -5px;
}
.show_code .weixin_code p{
    line-height: 16px;
    color: #ef404a;
    font-size: 12px;
}

/*æ¡ˆä¾‹æ”¶è—æˆåŠŸçš„æç¤ºå¼¹çª—*/
.show_case_collection_msg{width: 520px;background: #fff;z-index: 9999;}
.show_case_collection_msg .contents{text-align: center;}
.show_case_collection_msg .contents .tips_b{font-size: 14px;font-weight: bold;margin: 25px 0 0;color: #333;}
.show_case_collection_msg .contents .tips_s{color: #666;font-size: 12px;margin: 15px 0 0;font-family: "å®‹ä½“";}
.show_case_collection_msg .contents .btn input{margin:20px 10px 35px;}
.show_case_collection_msg .contents .btn_red{color:#fff;}

.clolorbox_msg_error { padding-bottom: 70px;}.